<pancake-competition-header></pancake-competition-header>




  <div class="comp-sec-par">
    <div class="comp-sec-bg-t">
      <div class="comp-fin-pos">
        <div class="comp-fin-sty">
          <div class="comp-fin-sh comp-sec-h-s">
            <div class="comp-sec-pad">
              <div class="comp-sec-con-pos">
                <h2 class="comp-con-tx-sty comp-con-tx-sz ">Finished!</h2>
                <div class="comp-con-svg-btn">
                  <img src="../assets/img-competiton/left-twig.svg" alt="twig" class="comp-twig-svg-sty">
                  <button class="buttonStandard comp-btn-dis-sty comp-btn-marg">Connect
                    Wallet</button>
                  <img src="../assets/img-competiton/right-twig.svg" alt="twig" class="comp-twig-svg-sty">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div clip-path="#topConcaveCurve" class="comp-top-curve"><svg width="0" height="0" class="comp-d-block">
          <defs>
            <clipPath id="topConcaveCurve" clipPathUnits="objectBoundingBox">
              <path d="M 0,0 L 0,1 L 1,1 L 1,0 C .75 1, .25 1, 0 0 Z"></path>
            </clipPath>
          </defs>
        </svg></div>
    </div>


    <div class="comp-flex comp-thir-sty">
      <div class="comp-th-cont-marg">
        <div class="comp-th-cont-pos">
          <div class="comp-th-cnt-tp-pos comp-th-cnt-tp-flx">
            <div class="comp-th-cnt-hg"></div>
            <div class="comp-th-cnt-sv-pos">
              <div class="comp-flex comp-th-sv-al">
                <div class="comp-lg-l-twig-rot">
                  <img src="../assets/img-competiton/lg-left-twig.svg" alt="Left twig" class="comp-lg-tw-svg-sty">
                </div>
                <div class="comp-by-usr-svg-wh">
                  <div class="comp-by-usr-bg-sty">
                    <img src="../assets/img-competiton/bny-user-icon.svg" alt="Bunny user icon" class="comp-by-usr-hg">
                  </div>
                </div>
                <div class="comp-lg-r-twig-rot">
                  <img src="../assets/img-competiton/lg-right-twig.svg" alt="Right twig" class="comp-lg-tw-svg-sty">
                </div>
              </div>
            </div>
            <div class="comp-bot-by-usr">
              <div class="comp-bot-by-usr-d-fx">
                <div class="comp-bot-cl-lft-pos">
                  <img src="../assets/img-competiton/cl-left.svg" class="comp-bot-cl-lft-svg">
                  <div class="comp-lft-tw-pos">
                    <img src="../assets/img-competiton/cl-left-tw.svg" class="comp-tw-svg-sty comp-cl-right-tw-hw">
                  </div>
                  <div>
                    <img src="../assets/img-competiton/banner.svg" class="comp-banner-svg-hw comp-gen-svg-sty">
                  </div>
                  <div class="comp-ban-pos">
                    <h2 class="comp-ban-h2-sz">Your Score</h2>
                  </div>
                  <div class="comp-right-tw-pos">
                    <img src="../assets/img-competiton/cl-right-tw.svg" class="comp-tw-svg-sty comp-cl-right-tw-hw">
                  </div>
                  <img src="../assets/img-competiton/cl-right.svg" class="comp-bot-cl-rgt-svg">
                </div>
              </div>
            </div>
          </div>
          <div class="comp-bot-cont-sty comp-wdh-res">
            <div class="comp-bot-bak-sty">
              <div class="comp-sec-pad">
                <div class="comp-bot-flx-f">
                  <h2 class="comp-bot-h2-sty">Check your Rank
                  </h2>
                  <div class="comp-bot-txt-sty">Connect wallet to view
                  </div>
                </div>
                <div class="comp-bot-flx-s"><button class="buttonStandard buttonHover buttonActive">Connect
                    Wallet</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="comp-third-par">
    <div class="comp-thi-par-mid">
      <div class="comp-thi-par-mid-tr">
        <div class="comp-thi-par-mid-pos comp-th-cnt-tp-flx">
          <img src="../assets/img-competiton/trophies.svg" alt="trophies">
          <div class="comp-ban-thi-pos comp-th-cnt-tp-flx">
            <div class="comp-ban-thi-flx">
              <img src="../assets/img-competiton/cl-left-r.svg" class="comp-svg-cl-left-r-pos-fst" alt="cl-left">
            </div>
            <div class="comp-thi-lft-tw-pos">
              <img src="../assets/img-competiton/cl-left-tw.svg" class="comp-gen-svg-sty comp-cl-right-tw-hw">
            </div>
            <div>
              <img src="../assets/img-competiton/ban-third.svg" class="comp-thi-ban-svg comp-gen-svg-sty" alt="">
              <h2 class="comp-con-tx-sz comp-thi-par-h2-hid comp-gen-h2-sz comp-gen-h2-col">Team Ranks
              </h2>
            </div>
            <div class="comp-ban-pos">
              <h2 class="comp-con-tx-sz comp-thi-par-h2-sty comp-thi-par-h2-pad">Team Ranks</h2>
            </div>
            <div class="comp-thi-cl-right-tw">
              <img src="../assets/img-competiton/cl-right-tw.svg"
                class="comp-tw-svg-sty comp-cl-right-tw-hw comp-gen-svg-sty">
            </div>
            <img src="../assets/img-competiton/cl-right-th.svg" class="comp-svg-cl-right-r-pos-fst comp-gen-svg-sty"
              alt="">
          </div>
        </div>
      </div>
      <div clip-path="#topConcaveCurve" class="comp-thi-par-tops-conv">
        <svg width="0" height="0" class="comp-d-block">
          <defs>
            <clipPath id="topConcaveCurve" clipPathUnits="objectBoundingBox">
              <path d="M 0,0 L 0,1 L 1,1 L 1,0 C .75 1, .25 1, 0 0 Z"></path>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>

    <div class="comp-thi-par-bot-pos comp-flex">
      <div class="comp-thi-par-bot-pad comp-thi-par-bot-marg">
        <div class="comp-thi-bot-cont-marg">
          <div class=".comp-flx-drn-gen comp-flex">
            <div class="comp-thi-bot-lft-cont-flx comp-thi-bot-lft-cont-ly comp-flex">
              <div class="comp-gen-width">
                <div class="comp-thi-par-bot-l-dr comp-flex">

                  <div class="comp-flex comp-thi-bot-cnt-hp">
                    <div class="comp-thi-bot-fst comp-thi-bot-fst-pl">
                      <div class="comp-thi-wh-fst comp-th-cnt-tp-flx">
                        <div class="comp-thi-bot-fst-sty comp-flex">
                          <div class="comp-thi-bot-fst-trd-mx-hw">
                            <img src="../assets/img-competiton/syrup-storm-lg.png"
                              class="comp-thi-bot-svg-bdr comp-thi-bot-fst-svg-hw">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comp-thi-bot-snd-pos">
                      <div class="comp-thi-bot-snd-wh comp-th-cnt-tp-flx">
                        <div class="comp-thi-bot-snd-sty comp-flex">
                          <div class="comp-thi-bot-snd-mx-hw">
                            <img src="../assets/img-competiton/fearsome-flippers-lg.png"
                              class="comp-thi-bot-svg-bdr comp-thi-bot-snd-svg">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comp-thi-bot-trd comp-thi-bot-trd-pos">
                      <div class="comp-thi-bot-trd-hw comp-th-cnt-tp-flx">
                        <div class="comp-thi-bot-trd-sty comp-flex">
                          <div class="comp-thi-bot-fst-trd-mx-hw">
                            <img src="../assets/img-competiton/chaotic-cakers-lg.png"
                              class="comp-thi-bot-svg-bdr comp-thi-bot-snd-svg">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <img src="../assets/img-competiton/podium.svg" class="comp-thi-bot-svg-pod-hw comp-gen-svg-sty"
                    alt="podium">
                  <!-- qui -->
                  <div class="comp-thi-bot-prize-flx">
                    <div class="comp-thi-prize-flx-drc comp-flex">
                      <div class="comp-thi-prize-fst-font-sty">$33,340,537
                      </div>
                      <div class="comp-thi-prize-volume">Volume</div>
                    </div>
                    <div class="comp-thi-prize-flx-drc comp-flex">
                      <div class="comp-thi-prize-fst-font-sty">$79,851,188
                      </div>
                      <div class="comp-thi-prize-volume">Volume</div>
                    </div>
                    <div class="comp-thi-prize-flx-drc comp-flex">
                      <div class="comp-thi-prize-fst-font-sty">$14,007,757
                      </div>
                      <div class="comp-thi-prize-volume">Volume</div>
                    </div>
                  </div>
                  <!-- qui -->
                  <!-- <div class="sc-c4ec0fdf-0 sc-81d13ad5-2 dhFkKR gZzeCc"><span
                                            style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                                                    alt="" aria-hidden="true"
                                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27200%27%20height=%27205%27/%3e"
                                                    style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcakers.425eaa17.png&amp;w=640&amp;q=75"
                                                decoding="async" data-nimg="intrinsic"
                                                srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcakers.425eaa17.png&amp;w=256&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcakers.425eaa17.png&amp;w=640&amp;q=75 2x"
                                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                                    </div> -->
                  <!-- qui -->
                </div>
              </div>
              <div class="comp-thi-bot-lft-ct-whf"></div>
            </div>



            <div class="comp-thi-bot-right-cont-flx comp-width comp-flex">
              <div class="comp-trd-bot-r-ct-bg-sty">
                <div class="comp-trd-bot-r-ct-wh-bg">
                  <!-- qui -->
                  <div class="comp-width">
                    <div class="comp-trd-r-cnt-top">
                      <h2 class="comp-trd-r-cnt-top-h2 comp-font-sz">Top Traders</h2>
                      <div class="comp-trd-r-cnt-top-subtitle">Since start
                        of the competition</div>
                    </div>
                    <div class="comp-trd-r-cnt-center">
                      <div class="comp-trd-r-cnt-ctr-nav-brd comp-flex comp-pad-gen">
                        <div class=".comp-trd-r-cnt-ctr-flx-gr comp-trd-r-cnt-ctr-jst comp-flex">
                          <button color="comp-flx-drn-gen" class="comp-trd-r-cnt-ctr-btn-active-sty">Total</button>
                          <button class="comp-trd-r-cnt-ctr-btn-disabled-sty comp-trd-r-cnt-ctr-flx-gr">Storm</button>
                          <button
                            class="comp-trd-r-cnt-ctr-btn-disabled-sty comp-trd-r-cnt-ctr-flx-gr">Flippers</button>
                          <button class="comp-trd-r-cnt-ctr-btn-disabled-sty comp-trd-r-cnt-ctr-flx-gr ">Cakers</button>
                        </div>
                      </div>
                      <div class="">
                        <div class="comp-grid-tmplt-lyt-rsp
                                                comp-trd-r-cnt-ctr-pos">
                          <div class="comp-trd-r-cnt-ctr-flx comp-r-cnt-ctr-mrg-l">
                            <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2">#1</h2>
                          </div>
                          <div class="comp-trd-r-cnt-ctr-flx">
                            <div class="comp-r-ctr-fnt-sty">$11,033,510</div>
                          </div>
                          <div class="comp-trd-r-cnt-ctr-flx">
                            <div class="comp-r-ctr-fnt-nmb-sty">0x72...a55b</div>
                          </div>
                          <div class="comp-pos-rltv comp-r-svg-cnt-flx">
                            <img src="../assets/img-competiton/rabbit-skull.svg" class="comp-svg-hgt comp-gen-svg-sty"
                              alt="">
                          </div>
                        </div>
                        <div class="comp-grid-tmplt-lyt-rsp
                                                comp-trd-r-cnt-ctr-pos">
                          <div class="comp-trd-r-cnt-ctr-flx comp-r-cnt-ctr-mrg-l">
                            <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2">#2</h2>
                          </div>
                          <div class="comp-trd-r-cnt-ctr-flx">
                            <div class="comp-r-ctr-fnt-sty">$10,787,999</div>
                          </div>
                          <div class="comp-trd-r-cnt-ctr-flx">
                            <div class="comp-r-ctr-fnt-nmb-sty">0x2D...A9BA</div>
                          </div>
                          <div class="comp-pos-rltv comp-r-svg-cnt-flx">
                            <img src="../assets/img-competiton/bull.svg" class="comp-svg-hgt comp-gen-svg-sty" alt="">
                          </div>
                        </div>
                        <div class="comp-grid-tmplt-lyt-rsp
                                                comp-trd-r-cnt-ctr-pos">
                          <div class="comp-trd-r-cnt-ctr-flx comp-r-cnt-ctr-mrg-l">
                            <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2">#3</h2>
                          </div>
                          <div class="comp-trd-r-cnt-ctr-flx">
                            <div class="comp-r-ctr-fnt-sty">$7,415,266</div>
                          </div>
                          <div class="comp-trd-r-cnt-ctr-flx">
                            <div class="comp-r-ctr-fnt-nmb-sty">0x3e...d90c</div>
                          </div>
                          <div class="comp-pos-rltv comp-r-svg-cnt-flx">
                            <img src="../assets/img-competiton/rabbit-skull.svg" class="comp-svg-hgt comp-gen-svg-sty"
                              alt="">
                          </div>
                        </div>
                        <div class="comp-grid-tmplt-lyt-rsp
                                                 comp-trd-r-cnt-ctr-pos">
                          <div class="comp-trd-r-cnt-ctr-flx comp-r-cnt-ctr-mrg-l">
                            <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2">#4</h2>
                          </div>
                          <div class="comp-trd-r-cnt-ctr-flx">
                            <div class="comp-r-ctr-fnt-sty">$5,234,418</div>
                          </div>
                          <div class="comp-trd-r-cnt-ctr-flx">
                            <div class="comp-r-ctr-fnt-nmb-sty">0x64...8AaE</div>
                          </div>
                          <div class="comp-pos-rltv comp-r-svg-cnt-flx">
                            <img src="../assets/img-competiton/rabbit-skull.svg" class="comp-svg-hgt comp-gen-svg-sty"
                              alt="">
                          </div>
                        </div>
                        <div class="comp-grid-tmplt-lyt-rsp
                                                comp-trd-r-cnt-ctr-pos">
                          <div class="comp-trd-r-cnt-ctr-flx comp-r-cnt-ctr-mrg-l">
                            <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2">#5</h2>
                          </div>
                          <div class="comp-trd-r-cnt-ctr-flx">
                            <div class="comp-r-ctr-fnt-sty">$3,355,375</div>
                          </div>
                          <div class="comp-trd-r-cnt-ctr-flx">
                            <div class="comp-r-ctr-fnt-nmb-sty">0xc8...212E</div>
                          </div>
                          <div class="comp-pos-rltv comp-r-svg-cnt-flx">
                            <img src="../assets/img-competiton/rabbit-skull.svg" class="comp-svg-hgt comp-gen-svg-sty"
                              alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="comp-trd-r-cnt-bottom">
                      <div class="comp-th-cnt-tp-flx">
                        <button class="comp-bot-r-btn-sty">Show More
                          <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg" alt="">
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- qui -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="comp-third-par">

    <div class="comp-fth-bg-pos">
      <div class="comp-fth-pos">
        <div class="comp-thi-par-mid-pos comp-th-cnt-tp-flx">
          <img src="../assets/img-competiton/medals.svg" class="comp-gen-svg-sty" alt="">
          <div class="comp-ban-thi-pos comp-th-cnt-tp-flx">
            <div class="comp-ban-thi-flx">
              <img src="../assets/img-competiton/cl-left-r.svg" class="comp-svg-cl-left-r-pos comp-gen-svg-sty" alt="">
              <div class="comp-thi-lft-tw-pos">
                <img src="../assets/img-competiton/cl-left-tw.svg" class="comp-cl-right-tw-hw comp-gen-svg-sty" alt="">
              </div>
              <div>
                <img src="../assets/img-competiton/banner-shadow.svg" class="comp-thi-ban-svg comp-gen-svg-sty" alt="">
                <h2 class="comp-con-tx-sz comp-fth-h2-hdn comp-gen-h2-sz comp-fth-h2-col">
                  Prizes</h2>
              </div>
              <div class="comp-ban-pos">
                <h2 class="comp-con-tx-sz comp-thi-par-h2-sty comp-gen-h2-sz comp-thi-par-h2-pad">
                  Prizes</h2>
              </div>
              <div class="comp-thi-cl-right-tw">

                <img src="../assets/img-competiton/cl-right-tw.svg" class="comp-cl-right-tw-hw comp-gen-svg-sty" alt="">
              </div>
              <img src="../assets/img-competiton/cl-right-th.svg" class="comp-svg-cl-right-r-pos comp-gen-svg-sty"
                alt="">
            </div>
          </div>
        </div>
      </div>
      <div clip-path="#topConcaveCurve" class="comp-fth-top-conv">
        <svg class="comp-d-block" width="0" height="0">
          <defs>
            <clipPath id="topConcaveCurve" clipPathUnits="objectBoundingBox">
              <path d="M 0,0 L 0,1 L 1,1 L 1,0 C .75 1, .25 1, 0 0 Z"></path>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>

    <!-- quu1 -->
    <div class="comp-fth-l-cnt-pos comp-flex">
      <div class="comp-pad-gen comp-foot-mh comp-foot-cont-m-lr comp-fth-max-wtd">
        <div class="comp-thi-bot-cont-marg">
          <div class="comp-fth-flx-drc comp-flex">
            <div class="comp-fth-marg-r-flx comp-trd-bot-r-ct-bg-sty">
              <div class="comp-bot-bak-sty">
                <div class="comp-fth-top-bg">
                  <h2 class="comp-font-sz comp-trd-r-cnt-top-h2">
                    Prizes by Team</h2>
                  <div class="comp-trd-r-cnt-top-subtitle">Higher trading
                    volume = higher rank!</div>
                </div>
                <div class="comp-fth-ctr-pad-top">
                  <div class="comp-trd-r-cnt-ctr-nav-brd comp-flex comp-pad-gen">
                    <div class="comp-trd-r-cnt-ctr-flx-gr">
                      <button class="comp-trd-r-cnt-ctr-flx-gr comp-trd-r-cnt-ctr-btn-active-sty">#1
                        Team</button>
                      <button class="comp-trd-r-cnt-ctr-btn-disabled-sty comp-trd-r-cnt-ctr-flx-gr">#2
                        Team</button>
                      <button class="comp-trd-r-cnt-ctr-btn-disabled-sty comp-trd-r-cnt-ctr-flx-gr">#3
                        Team</button>
                    </div>
                  </div>
                  <div class="comp-fth-ctr-mn-wh">
                    <table class="comp-width comp-fth-ctr-table-cpse">
                      <thead>
                        <tr>
                          <th>Rank in team</th>
                          <th>Tier</th>
                          <th>Token Prizes (Split)</th>
                          <th>Achievements</th>
                          <th>NFT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">1</td>
                          <td class="comp-gen-pad-ot">
                            <img src="../assets/img-competiton/gold.svg" class="comp-gen-svg-sty" alt="">
                            <div class="comp-fth-ctr-gold-sty comp-fth-ctr-fnt-wgth comp-gen-pad-ot">
                              Gold</div>
                          </td>
                          <td class="comp-gen-pad-ot comp-fth-ctr-fnt-wgth">$12.600</td>
                          <td class="comp-gen-pad-ot">
                            <div class="comp-fth-ctr-flx-itms comp-width">
                              <span
                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                  style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;">
                                  <img alt="" aria-hidden="true"
                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2738%27%20height=%2738%27/%3e"
                                    style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                  src="../assets/img-competiton/fan-token-champion-gold.svg" decoding="async"
                                  data-nimg="intrinsic" srcset="../assets/img-competiton/fan-token-champion-gold.svg
                                                                    1x,
                                                                    ../assets/img-competiton/fan-token-champion-gold.svg
                                                                    2x"
                                  style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                              <div class="comp-fth-ctr-ach-sty">+2.500</div>
                            </div>
                          </td>
                          <td class="comp-gen-pad-ot ">
                            <img src="../assets/img-competiton/check-green.svg" class="comp-check-gr-svg" alt="">
                          </td>
                        </tr>
                        <tr>
                          <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">2 ~ 10</td>
                          <td class="comp-gen-pad-ot">
                            <img src="../assets/img-competiton/comp-silver.svg" class="comp-gen-svg-sty ">
                            <div class="comp-fth-ctr-silver-col">
                              Silver</div>
                          </td>
                          <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">$29.400</td>
                          <td class="comp-gen-pad-ot">
                            <div class="comp-fth-ctr-flx-itms comp-width">
                              <span
                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                  style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;">
                                  <img alt="" aria-hidden="true"
                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2738%27%20height=%2738%27/%3e"
                                    style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                  src="../assets/img-competiton/fan-token-top-10-gold.svg" decoding="async"
                                  data-nimg="intrinsic" srcset="../assets/img-competiton/fan-token-top-10-gold.svg
                                                                    1x,
                                                                    ../assets/img-competiton/fan-token-top-10-gold.svg
                                                                    2x"
                                  style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                              <div class="comp-fth-ctr-ach-sty">+1.250</div>
                            </div>
                          </td>
                          <td class="comp-gen-pad-ot">
                            <img src="../assets/img-competiton/check-green.svg" class="comp-check-gr-svg" alt="">
                          </td>
                        </tr>
                        <tr>
                          <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">11 ~ 100</td>
                          <td class="comp-gen-pad-ot">
                            <img src="../assets/img-competiton/comp-bronze.svg" class="comp-gen-svg-sty" alt="">
                            <div class="comp-fth-bronze-col">
                              Bronze</div>
                          </td>
                          <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">$25.200</td>
                          <td class="comp-gen-pad-ot">
                            <div class="comp-fth-ctr-flx-itms comp-width"><span
                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                  style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                                    alt="" aria-hidden="true"
                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2738%27%20height=%2738%27/%3e"
                                    style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                  src="../assets/img-competiton/fan-token-top-100-gold.svg" decoding="async"
                                  data-nimg="intrinsic" srcset="../assets/img-competiton/fan-token-top-100-gold.svg
                                                                    1x,
                                                                    ../assets/img-competiton/fan-token-top-100-gold.svg
                                                                    2x"
                                  style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                              <div class="comp-fth-ctr-ach-sty">+1.000</div>
                            </div>
                          </td>
                          <td class="comp-gen-pad-ot">
                            <img src="../assets/img-competiton/check-green.svg" class="comp-check-gr-svg" alt="">
                          </td>
                        </tr>
                        <tr>
                          <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">101 ~ 500</td>
                          <td class="comp-gen-pad-ot">
                            <img src="../assets/img-competiton/comp-purple.svg" class="comp-gen-svg-sty" alt="">
                            <div class="comp-fth-ctr-purple-col">
                              Purple</div>
                          </td>
                          <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">$16.800</td>
                          <td class="comp-gen-pad-ot">
                            <div class="comp-fth-ctr-flx-itms comp-width">
                              <span
                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                  style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                                    alt="" aria-hidden="true"
                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2738%27%20height=%2738%27/%3e"
                                    style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                  src="../assets/img-competiton/fan-token-top-500-gold.svg" decoding="async"
                                  data-nimg="intrinsic" srcset="../assets/img-competiton/fan-token-top-500-gold.svg
                                                                    1x,
                                                                    ../assets/img-competiton/fan-token-top-500-gold.svg
                                                                    2x"
                                  style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                              <div class="comp-fth-ctr-ach-sty">+850
                              </div>
                            </div>
                          </td>
                          <td class="comp-gen-pad-ot">
                            <img src="../assets/img-competiton/check-green.svg" class="comp-check-gr-svg" alt="">
                          </td>
                        </tr>
                        <tr>
                          <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">501+</td>
                          <td class="comp-gen-pad-ot">
                            <img src="../assets/img-competiton/comp-teal.svg" class="comp-gen-svg-sty" alt="">
                            <div class="comp-fth-ctr-teal-col">
                              Teal</div>
                          </td>
                          <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">$0</td>
                          <td class="comp-gen-pad-ot">
                            <div class="comp-fth-ctr-flx-itms comp-width">
                              <span
                                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                  style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                                    alt="" aria-hidden="true"
                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2738%27%20height=%2738%27/%3e"
                                    style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                  src="../assets/img-competiton/fan-token-participant-gold.svg" decoding="async"
                                  data-nimg="intrinsic" srcset="../assets/img-competiton/fan-token-participant-gold.svg
                                                                    1x,
                                                                    ../assets/img-competiton/fan-token-participant-gold.svg
                                                                    2x"
                                  style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                              <div class="comp-fth-ctr-ach-sty">+500</div>
                            </div>
                          </td>
                          <td class="comp-gen-pad-ot">
                            <img src="../assets/img-competiton/null.svg" class="comp-null-svg" alt="">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="comp-sec-pad">
                  <div class="comp-trd-r-cnt-top-subtitle">Prizes to be
                    distributed in CAKE, LAZIO, PORTO and SANTOS in a distribution of 3:1:1:1 and
                    shared by all members of each respective tier. The price of token prizes (CAKE,
                    LAZIO, PORTO and SANTOS) in USD will be determined as per their BUSD pair price
                    during the tally period.</div>
                </div>
              </div>
            </div>
            <div class="comp-gen-flx-prc comp-fth-ctr-r-d-flx comp-fth-ctr-r-mrg-b">
              <div class="comp-fth-ctr-r-tx">Every eligible participant will win prizes at
                the end of the competition.</div>
              <h2 class="comp-font-sz comp-trd-r-cnt-top-h2 comp-gen-mrg-bot-dq">The better
                your team performs, the better prizes you will get!</h2>
              <div class="comp-fth-ctr-r-tx">
                The final winning team will be the team with the
                highest total volume score at the end of the competition period.</div>
              <div class="comp-rsp-d-block comp-fth-wth-nrg">
                <span
                  style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                    style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                      alt="" aria-hidden="true"
                      src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27499%27%20height=%27400%27/%3e"
                      style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                    alt="Flipper bunny" src="../assets/img-competiton/flippers.png" decoding="async"
                    data-nimg="intrinsic" srcset="../assets/img-competiton/flippers.png 1x,
                                        ../assets/img-competiton/flippers.png
                                        2x"
                    style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- qui -->
  <div class="comp-fih-par">
    <div class="comp-fih-ln-bg">
      <div class="comp-fih-x-idx">
        <div class="comp-fih-pos-mrg-bt comp-th-cnt-tp-flx">
          <img src="../assets/img-competiton/timer-calendar.svg" class="comp-gen-svg-sty" alt="">
          <div class="comp-ban-thi-pos comp-th-cnt-tp-flx">
            <div class="comp-ban-thi-flx">
              <img src="../assets/img-competiton/cl-left-r.svg" class="comp-svg-cl-left-r-pos comp-gen-svg-sty" alt="">
              <div class="comp-thi-lft-tw-pos">
                <img src="../assets/img-competiton/cl-left-tw.svg" class="comp-cl-right-tw-hw comp-gen-svg-sty" alt="">
              </div>
              <div>
                <img src="../assets/img-competiton/banner-shadow.svg" class="comp-thi-ban-svg comp-gen-svg-sty" alt="">
                <h2 class="comp-con-tx-sz comp-fth-h2-hdn comp-gen-h2-sz comp-gen-h2-col">
                  Rules</h2>
              </div>
              <div class="comp-ban-pos">
                <h2 class="comp-con-tx-sz comp-thi-par-h2-sty comp-thi-par-h2-pad">
                  Rules</h2>
              </div>
              <div class="comp-thi-cl-right-tw">
                <img src="../assets/img-competiton/cl-right-tw.svg" class="comp-cl-right-tw-hw comp-gen-svg-sty" alt="">
              </div>
              <img src="../assets/img-competiton/cl-right-th.svg" class="comp-svg-cl-right-r-pos comp-gen-svg-sty"
                alt="">
            </div>
          </div>
        </div>
      </div>
      <div clip-path="#topConvexCurve" class="comp-fih-ln-top-conv-bg"><svg width="0" height="0" class="comp-d-block">
          <defs>
            <clipPath id="topConvexCurve" clipPathUnits="objectBoundingBox">
              <path d="M 0,1 L 0,0 L 1,0 L 1,1 C 0.75 0, .25 0, 0 1 Z"></path>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div class="comp-fih-par-bg-sty comp-flex">
      <div class="comp-pad-gen comp-foot-mh comp-foot-cont-m-lr comp-foot-cont-m-lr">
        <div class="comp-gen-top-mrg">
          <div class="comp-gen-flx-dr-algn comp-flex">
            <div class="comp-fth-marg-r-flx comp-fth-ctr-r-d-flx">
              <div class="comp-fih-l-bg-sty">
                <div class="comp-trd-bot-r-ct-wh-bg ">
                  <div class="comp-sec-pad">
                    <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2 comp-fih-tle-mb-tx-ctr">Trade
                      to
                      increase your rank</h2>
                    <div class="comp-fih-txt-sty">Eligible
                      pairs: SANTOS/BNB, PORTO/BNB, LAZIO/BNB, SANTOS/BUSD, PORTO/BUSD,
                      LAZIO/BUSD, CAKE/BNB and CAKE/BUSD</div>
                  </div>
                </div>
              </div>
              <div class="comp-fih-l-bg-sty">
                <div class="comp-trd-bot-r-ct-wh-bg">
                  <div class="comp-sec-pad">
                    <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2 comp-fih-tle-mb-tx-ctr">Play as
                      a
                      team</h2>
                    <div class="comp-fih-txt-sty">The higher
                      your team’s rank, the better your prizes!</div>
                  </div>
                </div>
              </div>
              <div class="comp-fih-l-bg-sty">
                <div class="comp-trd-bot-r-ct-wh-bg">
                  <div class="comp-sec-pad">
                    <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2 comp-fih-tle-mb-tx-ctr">
                      Everyone’s
                      a winner!</h2>
                    <div class="comp-fih-txt-sty">Sign up for
                      battle and you’re guaranteed a prize!</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comp-gen-flx-prc comp-gen-mrg-tp comp-flex">
              <div class="comp-fih-rth-bg">
                <div class="comp-trd-bot-r-ct-wh-bg">
                  <div class="comp-fih-rth-top">
                    <h2 class="comp-font-sz comp-gen-h2-sz comp-r-ctr-fnt-sty">
                      Details</h2>
                  </div>
                  <div class="comp-fih-gen-pad">
                    <div class="comp-fih-d-flx-drc">
                      <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                        <div class="comp-fih-subtitle-sty">Eligible
                          trading pairs</div>
                        <div class="comp-flex">
                          <button class="comp-fih-algn-ctr comp-bot-r-btn-sty"
                            aria-label="Hide or show expandable content" scale="md">Details
                            <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg" alt="">
                          </button>
                        </div>
                      </div>
                      <div class="comp-fih-lne-bot comp-fih-d-flx-drc">
                        <div class="comp-trd-r-cnt-top-subtitle">Only
                          trades on SANTOS/BNB, PORTO/BNB, LAZIO/BNB, SANTOS/BUSD, PORTO/BUSD,
                          LAZIO/BUSD, CAKE/BNB and CAKE/BUSD pairs will be included in volume
                          calculations.</div>
                      </div>
                    </div>
                    <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                      <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                        <div class="comp-fih-subtitle-st comp-fih-subtitle-sty">
                          Calculating team ranks and winners</div>
                        <div class="comp-flex">
                          <button class="comp-fih-algn-ctr comp-bot-r-btn-sty">Details
                            <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg" alt="">
                          </button>
                        </div>
                      </div>
                      <div class="comp-fih-lne-bot">
                        <div class="comp-fih-d-flx-drc comp-trd-r-cnt-top-subtitle">-
                          Team ranks are calculated by the total combined volume of the top
                          500 members of each respective team.</div>
                        <div class="comp-trd-r-cnt-top-subtitle">-
                          The final winning team will be the team with the highest total
                          volume score at the end of the competition period.</div>
                      </div>
                    </div>
                    <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                      <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                        <div class="comp-fih-subtitle-sty">Prize
                          distribution</div>
                        <div class="comp-flex">
                          <button class="comp-fih-algn-ctr comp-bot-r-btn-sty">Details
                            <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg" alt="">
                          </button>
                        </div>
                      </div>
                      <div class="comp-fih-lne-bot">
                        <div class="comp-trd-r-cnt-top-subtitle">-
                          Prizes to be distributed in CAKE, LAZIO, PORTO and SANTOS in a
                          distribution of 3:1:1:1 and shared by all members of each respective
                          tier.</div>
                        <div class="comp-trd-r-cnt-top-subtitle">-
                          The price of token prizes (CAKE, LAZIO, PORTO and SANTOS) in USD
                          will be determined as per their BUSD pair price during the tally
                          period.</div>
                        <div class="comp-trd-r-cnt-top-subtitle">-
                          Every participant will win at least one prize at the end of the
                          competition.
                        </div>
                      </div>
                    </div>
                    <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                      <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                        <div class="comp-fih-subtitle-sty">Fine
                          print</div>
                        <div class="comp-flex">
                          <button class="comp-fih-algn-ctr comp-bot-r-btn-sty">Details
                            <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg" alt="">
                          </button>
                        </div>
                      </div>
                      <div class="comp-fih-lne-bot">
                        <div class="comp-trd-r-cnt-top-subtitle">- In
                          the event of a disagreement concerning the final winning team or
                          rank, PancakeSwap will have the final say.</div>
                        <div class="comp-trd-r-cnt-top-subtitle">-
                          PancakeSwap can and will disqualify any team or specific members
                          that are proven to have taken malicious action or attempt to “cheat”
                          in any way.
                        </div>
                      </div>
                    </div>
                    <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                      <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                        <div class="comp-fih-subtitle-sty">Can I
                          join the battle after it starts?
                        </div>
                        <div class="comp-flex">
                          <button class="comp-fih-algn-ctr comp-bot-r-btn-sty">Details
                            <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg">
                          </button>
                        </div>
                      </div>
                      <div class="comp-fih-lne-bot">
                        <div class="comp-trd-r-cnt-top-subtitle">
                          Sorry, no. You need to register during the registration period,
                          before the start of the event.
                        </div>
                      </div>
                    </div>
                    <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                      <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                        <div class="comp-fih-subtitle-sty">How do I
                          know if I successfully registered?</div>
                        <div class="comp-flex">
                          <button class="comp-fih-algn-ctr comp-bot-r-btn-sty">Details
                            <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg">
                          </button>
                        </div>
                      </div>
                      <div class="comp-fih-lne-bot">
                        <div class="comp-trd-r-cnt-top-subtitle">At
                          the top of the page, the text in the button “I Want to Battle” will
                          change to “Registered”.
                        </div>
                      </div>
                    </div>
                    <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                      <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                        <div class="comp-fih-subtitle-sty">How can
                          I see my current rank?</div>
                        <div class="comp-flex">
                          <button class="comp-fih-algn-ctr comp-bot-r-btn-sty">Details
                            <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg">
                          </button>
                        </div>
                      </div>
                      <div class="comp-fih-lne-bot">
                        <div class="comp-trd-r-cnt-top-subtitle">
                          Check Your Score section on the event page. You’ll need to connect
                          your wallet, of course.</div>
                      </div>
                    </div>
                    <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                      <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                        <div class="comp-fih-subtitle-sty">How do I
                          claim my prize(s)?</div>
                        <div class="comp-flex">
                          <button class="comp-fih-algn-ctr comp-bot-r-btn-sty"
                            aria-label="Hide or show expandable content" scale="md">Details
                            <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg">
                          </button>
                        </div>
                      </div>
                      <div class="comp-fih-lne-bot">
                        <div class="comp-trd-r-cnt-top-subtitle">
                          After the battle ends, visit the event page and click the “Claim
                          Prizes” button in the top section or in “Your Score” section. Once
                          you claim your prizes successfully, the button text will change to
                          “Prizes Claimed”.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- qui -->


  <!-- foot -->

  <div class="">
    <div class="comp-foot-bg-sty">
      <div clip-path="#topConvexCurve" class="comp-foot-tops-conv">
        <svg width="0" height="0">
          <defs>
            <clipPath id="topConvexCurve" clipPathUnits="objectBoundingBox">
              <path d="M 0,1 L 0,0 L 1,0 L 1,1 C 0.75 0, .25 0, 0 1 Z"></path>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div class="comp-foot-pos-flx comp-flex">
      <div class="comp-pad-gen comp-foot-mh comp-foot-cont-m-lr">
        <div class="comp-foot-flx-ctr">
          <div class="comp-flex comp-foot-fit-cnt">
            <div class="comp-fin-sty">
              <div class="comp-fin-sh comp-sec-h-s">
                <div class="comp-sec-pad">
                  <div class="comp-sec-con-pos">
                    <h2 class="comp-con-tx-sty comp-con-tx-sz">Finished!</h2>
                    <div class="comp-con-svg-btn">
                      <img src="../assets/img-competiton/left-twig.svg" alt="twig" class="comp-twig-svg-sty">
                      <button class="buttonStandard comp-btn-dis-sty comp-btn-marg">Connect
                        Wallet</button>
                      <img src="../assets/img-competiton/right-twig.svg" alt="twig" class="comp-twig-svg-sty">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sc-c4ec0fdf-0 sc-92ee7060-3 dGKbaC dLwlco"><span
              style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                  alt="" aria-hidden="true"
                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27147%27%20height=%27200%27/%3e"
                  style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstorm.fc586ed7.png&amp;w=384&amp;q=75"
                decoding="async" data-nimg="intrinsic"
                srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstorm.fc586ed7.png&amp;w=256&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstorm.fc586ed7.png&amp;w=384&amp;q=75 2x"
                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
          </div>
        </div>
      </div>
    </div>
  </div>

