.earn__header {
  background: var(--bg-color--grad-block);
}
* {
  font-family: Kanit, sans-serif;
}
.earn__header-container {
  padding-top: 70px;
  padding-bottom: 32px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.earn__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--primary-color);
}

.earn__subtle {
  margin-top: 1.7rem;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.1;
}

.earn__cta {
  color: var(--secundary-color);
  font-weight: 600;
  line-height: 1.5;
  margin-right: 4px;
  font-size: 16px;
  margin-top: 0.4rem;
}

.earn__cta img {
  transform: translateY(5px);
}
