<div class="home-container-tab-cake">
  <div class="home-container-subsection7-text">
    <h5 class="home-title-text-subsection7">{{tab[0].h5}}</h5>
    <h2 class="home-value-subsection7">
      <span class="homwe-number-subsection7">{{tab[0].value}}</span>
    </h2>
  </div>
  <div class="home-container-subsection7-text">
    <h5 class="home-title-text-subsection7">{{tab[1].h5}}</h5>
    <h2 class="home-value-subsection7">
      <span class="homwe-number-subsection7">{{tab[1].value}}</span>
    </h2>
  </div>
  <div class="home-container-subsection7-text">
    <h5 class="home-title-text-subsection7">{{tab[2].h5}}</h5>
    <h2 class="home-value-subsection7">
      <span class="homwe-number-subsection7">{{tab[2].value1}}</span>
    </h2>
  </div>
  <div class="home-container-subsection7-text">
    <h5 class="home-title-text-subsection7">{{tab[3].h5}}</h5>
    <h2 class="home-value-subsection7">
      <span class="homwe-number-subsection7">{{tab[3].value1}}</span>
    </h2>
  </div>
</div>
