<div class="comp-fih-par">
  <div class="comp-fih-ln-bg">
    <div class="comp-fih-x-idx">
      <div class="comp-fih-pos-mrg-bt comp-th-cnt-tp-flx">
        <img src="../assets/img-competiton/timer-calendar.svg" class="comp-gen-svg-sty" alt="">
        <div class="comp-ban-thi-pos comp-th-cnt-tp-flx">
          <div class="comp-ban-thi-flx">
            <img src="../assets/img-competiton/cl-left-r.svg" class="comp-svg-cl-left-r-pos comp-gen-svg-sty" alt="">
            <div class="comp-thi-lft-tw-pos">
              <img src="../assets/img-competiton/cl-left-tw.svg" class="comp-cl-right-tw-hw comp-gen-svg-sty" alt="">
            </div>
            <div>
              <img src="../assets/img-competiton/banner-shadow.svg" class="comp-thi-ban-svg comp-gen-svg-sty" alt="">
              <h2 class="comp-con-tx-sz comp-fth-h2-hdn comp-gen-h2-sz comp-gen-h2-col">
                Rules</h2>
            </div>
            <div class="comp-ban-pos">
              <h2 class="comp-con-tx-sz comp-thi-par-h2-sty comp-thi-par-h2-pad">
                Rules</h2>
            </div>
            <div class="comp-thi-cl-right-tw">
              <img src="../assets/img-competiton/cl-right-tw.svg" class="comp-cl-right-tw-hw comp-gen-svg-sty" alt="">
            </div>
            <img src="../assets/img-competiton/cl-right-th.svg" class="comp-svg-cl-right-r-pos comp-gen-svg-sty" alt="">
          </div>
        </div>
      </div>
    </div>
    <div clip-path="#topConvexCurve" class="comp-fih-ln-top-conv-bg"><svg width="0" height="0" class="comp-d-block">
        <defs>
          <clipPath id="topConvexCurve" clipPathUnits="objectBoundingBox">
            <path d="M 0,1 L 0,0 L 1,0 L 1,1 C 0.75 0, .25 0, 0 1 Z"></path>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
  <div class="comp-fih-par-bg-sty comp-flex">
    <div class="comp-pad-gen comp-foot-mh comp-foot-cont-m-lr comp-foot-cont-m-lr">
      <div class="comp-gen-top-mrg">
        <div class="comp-gen-flx-dr-algn comp-flex">
          <div class="comp-fth-marg-r-flx comp-fth-ctr-r-d-flx">
            <div class="comp-fih-l-bg-sty">
              <div class="comp-trd-bot-r-ct-wh-bg ">
                <div class="comp-sec-pad">
                  <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2 comp-fih-tle-mb-tx-ctr">Trade
                    to
                    increase your rank</h2>
                  <div class="comp-fih-txt-sty">Eligible
                    pairs: SANTOS/BNB, PORTO/BNB, LAZIO/BNB, SANTOS/BUSD, PORTO/BUSD,
                    LAZIO/BUSD, CAKE/BNB and CAKE/BUSD</div>
                </div>
              </div>
            </div>
            <div class="comp-fih-l-bg-sty">
              <div class="comp-trd-bot-r-ct-wh-bg">
                <div class="comp-sec-pad">
                  <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2 comp-fih-tle-mb-tx-ctr">Play as
                    a
                    team</h2>
                  <div class="comp-fih-txt-sty">The higher
                    your team’s rank, the better your prizes!</div>
                </div>
              </div>
            </div>
            <div class="comp-fih-l-bg-sty">
              <div class="comp-trd-bot-r-ct-wh-bg">
                <div class="comp-sec-pad">
                  <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2 comp-fih-tle-mb-tx-ctr">
                    Everyone’s
                    a winner!</h2>
                  <div class="comp-fih-txt-sty">Sign up for
                    battle and you’re guaranteed a prize!</div>
                </div>
              </div>
            </div>
          </div>
          <div class="comp-gen-flx-prc comp-gen-mrg-tp comp-flex">
            <div class="comp-fih-rth-bg">
              <div class="comp-trd-bot-r-ct-wh-bg">
                <div class="comp-fih-rth-top">
                  <h2 class="comp-font-sz comp-gen-h2-sz comp-r-ctr-fnt-sty">
                    Details</h2>
                </div>
                <div class="comp-fih-gen-pad">
                  <div class="comp-fih-d-flx-drc">
                    <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                      <div class="comp-fih-subtitle-sty">Eligible
                        trading pairs</div>
                      <div class="comp-flex">
                        <button class="comp-fih-algn-ctr comp-bot-r-btn-sty"
                          aria-label="Hide or show expandable content" scale="md">Details
                          <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg" alt="">
                        </button>
                      </div>
                    </div>
                    <div class="comp-fih-lne-bot comp-fih-d-flx-drc">
                      <div class="comp-trd-r-cnt-top-subtitle">Only
                        trades on SANTOS/BNB, PORTO/BNB, LAZIO/BNB, SANTOS/BUSD, PORTO/BUSD,
                        LAZIO/BUSD, CAKE/BNB and CAKE/BUSD pairs will be included in volume
                        calculations.</div>
                    </div>
                  </div>
                  <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                    <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                      <div class="comp-fih-subtitle-st comp-fih-subtitle-sty">
                        Calculating team ranks and winners</div>
                      <div class="comp-flex">
                        <button class="comp-fih-algn-ctr comp-bot-r-btn-sty">Details
                          <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg" alt="">
                        </button>
                      </div>
                    </div>
                    <div class="comp-fih-lne-bot">
                      <div class="comp-fih-d-flx-drc comp-trd-r-cnt-top-subtitle">-
                        Team ranks are calculated by the total combined volume of the top
                        500 members of each respective team.</div>
                      <div class="comp-trd-r-cnt-top-subtitle">-
                        The final winning team will be the team with the highest total
                        volume score at the end of the competition period.</div>
                    </div>
                  </div>
                  <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                    <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                      <div class="comp-fih-subtitle-sty">Prize
                        distribution</div>
                      <div class="comp-flex">
                        <button class="comp-fih-algn-ctr comp-bot-r-btn-sty">Details
                          <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg" alt="">
                        </button>
                      </div>
                    </div>
                    <div class="comp-fih-lne-bot">
                      <div class="comp-trd-r-cnt-top-subtitle">-
                        Prizes to be distributed in CAKE, LAZIO, PORTO and SANTOS in a
                        distribution of 3:1:1:1 and shared by all members of each respective
                        tier.</div>
                      <div class="comp-trd-r-cnt-top-subtitle">-
                        The price of token prizes (CAKE, LAZIO, PORTO and SANTOS) in USD
                        will be determined as per their BUSD pair price during the tally
                        period.</div>
                      <div class="comp-trd-r-cnt-top-subtitle">-
                        Every participant will win at least one prize at the end of the
                        competition.
                      </div>
                    </div>
                  </div>
                  <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                    <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                      <div class="comp-fih-subtitle-sty">Fine
                        print</div>
                      <div class="comp-flex">
                        <button class="comp-fih-algn-ctr comp-bot-r-btn-sty">Details
                          <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg" alt="">
                        </button>
                      </div>
                    </div>
                    <div class="comp-fih-lne-bot">
                      <div class="comp-trd-r-cnt-top-subtitle">- In
                        the event of a disagreement concerning the final winning team or
                        rank, PancakeSwap will have the final say.</div>
                      <div class="comp-trd-r-cnt-top-subtitle">-
                        PancakeSwap can and will disqualify any team or specific members
                        that are proven to have taken malicious action or attempt to “cheat”
                        in any way.
                      </div>
                    </div>
                  </div>
                  <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                    <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                      <div class="comp-fih-subtitle-sty">Can I
                        join the battle after it starts?
                      </div>
                      <div class="comp-flex">
                        <button class="comp-fih-algn-ctr comp-bot-r-btn-sty">Details
                          <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg">
                        </button>
                      </div>
                    </div>
                    <div class="comp-fih-lne-bot">
                      <div class="comp-trd-r-cnt-top-subtitle">
                        Sorry, no. You need to register during the registration period,
                        before the start of the event.
                      </div>
                    </div>
                  </div>
                  <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                    <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                      <div class="comp-fih-subtitle-sty">How do I
                        know if I successfully registered?</div>
                      <div class="comp-flex">
                        <button class="comp-fih-algn-ctr comp-bot-r-btn-sty">Details
                          <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg">
                        </button>
                      </div>
                    </div>
                    <div class="comp-fih-lne-bot">
                      <div class="comp-trd-r-cnt-top-subtitle">At
                        the top of the page, the text in the button “I Want to Battle” will
                        change to “Registered”.
                      </div>
                    </div>
                  </div>
                  <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                    <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                      <div class="comp-fih-subtitle-sty">How can
                        I see my current rank?</div>
                      <div class="comp-flex">
                        <button class="comp-fih-algn-ctr comp-bot-r-btn-sty">Details
                          <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg">
                        </button>
                      </div>
                    </div>
                    <div class="comp-fih-lne-bot">
                      <div class="comp-trd-r-cnt-top-subtitle">
                        Check Your Score section on the event page. You’ll need to connect
                        your wallet, of course.</div>
                    </div>
                  </div>
                  <div class="comp-fih-d-flx-drc comp-fih-mrg-top">
                    <div class="comp-fih-pntr comp-fih-d-flx-spc-bet comp-fih-gen-pad-bot">
                      <div class="comp-fih-subtitle-sty">How do I
                        claim my prize(s)?</div>
                      <div class="comp-flex">
                        <button class="comp-fih-algn-ctr comp-bot-r-btn-sty"
                          aria-label="Hide or show expandable content" scale="md">Details
                          <img src="../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg">
                        </button>
                      </div>
                    </div>
                    <div class="comp-fih-lne-bot">
                      <div class="comp-trd-r-cnt-top-subtitle">
                        After the battle ends, visit the event page and click the “Claim
                        Prizes” button in the top section or in “Your Score” section. Once
                        you claim your prizes successfully, the button text will change to
                        “Prizes Claimed”.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>