<div class="nft-txt-view-all-flx nft-collection-mrg-bt">
  <h3 class="nft-title-sz nft-title-col">Newest
    Collections</h3>
  <a class="nft-view-all-btn" href="#">View
    All
    <img src="../../../../../assets/img-page-nft/nft-arrow.svg" alt="" class="nft-arrow-svg">
  </a>
</div>

<div class="nft-d-grd-tmp-col nft-gen-mrg-bot">
  <div class="nft-coll-card-bg nft-coll-card-brdr">
    <div class="nft-card-bg-wh">
      <a href="#">
        <div class="nft-card-pad">
          <img alt="" aria-hidden="true" src="../../../../../assets/img-page-nft/banner-sm.png"
            class="nft-banner-brdr">
          <div class="nft-card-bot-flx-cnt nft-card-bot-pos">
            <div class="nft-card-avtr-pos nft-card-avtr-brdr nft-card-avtr-bg-sty nft-card-avtr-sz"
              style="background-image: url(../../../../../assets/img-page-nft/avatar-ape.png);">
            </div>
            <h3 class="nft-txt-sz">Degen Ape Club</h3>
            <div class="nft-card-txt-lyt">
              <div class="nft-car-text-col">Volume</div>
              <div class="nft-card-val-flx">
                <img src="../../../../../assets/img-page-nft/nft-token.svg" class="nft-vol-token-svg" alt="">
                <div class="nft-val-txt-col">100,9992</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-coll-card-bg nft-coll-card-brdr">
    <div class="nft-card-bg-wh">
      <a href="#">
        <div class="nft-card-pad">
          <img alt="" aria-hidden="true" src="../../../../../assets/img-page-nft/banner-sm liquid.png">
          <div class="nft-card-bot-flx-cnt nft-card-bot-pos">
            <div class="nft-card-avtr-pos nft-card-avtr-brdr nft-card-avtr-bg-sty nft-card-avtr-sz"
              style="background-image: url(../../../../../assets/img-page-nft/avatar-liquid.png);">
            </div>
            <h3 class="nft-txt-sz">Degen Ape Club</h3>
            <div class="nft-card-txt-lyt">
              <div class="nft-car-text-col">Volume</div>
              <div class="nft-card-val-flx">
                <img src="../../../../../assets/img-page-nft/nft-token.svg" class="nft-vol-token-svg" alt="">
                <div class="nft-val-txt-col">88,58397</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-coll-card-bg nft-coll-card-brdr">
    <div class="nft-card-bg-wh">
      <a href="#">
        <div class="nft-card-pad">
          <img alt="" aria-hidden="true" src="../../../../../assets/img-page-nft/banner-sm wolf.png">
          <div class="nft-card-bot-flx-cnt nft-card-bot-pos">
            <div class="nft-card-avtr-pos nft-card-avtr-brdr nft-card-avtr-bg-sty nft-card-avtr-sz"
              style="background-image: url(../../../../../assets/img-page-nft/avatar-wolf.png);">
            </div>
            <h3 class="nft-txt-sz">Degen Ape Club</h3>
            <div class="nft-card-txt-lyt">
              <div class="nft-car-text-col">Volume</div>
              <div class="nft-card-val-flx">
                <img src="../../../../../assets/img-page-nft/nft-token.svg" class="nft-vol-token-svg" alt="">
                <div class="nft-val-txt-col">25,2197</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-coll-card-bg nft-coll-card-brdr">
    <div class="nft-card-bg-wh">
      <a href="#">
        <div class="nft-card-pad">
          <img alt="" aria-hidden="true" src="../../../../../assets/img-page-nft/banner-sm bulls.png">
          <div class="nft-card-bot-flx-cnt nft-card-bot-pos">
            <div class="nft-card-avtr-pos nft-card-avtr-brdr nft-card-avtr-bg-sty nft-card-avtr-sz"
              style="background-image: url(../../../../../assets/img-page-nft/avatar-bulls.png);">
            </div>
            <h3 class="nft-txt-sz">Degen Ape Club</h3>
            <div class="nft-card-txt-lyt">
              <div class="nft-car-text-col">Volume</div>
              <div class="nft-card-val-flx">
                <img src="../../../../../assets/img-page-nft/nft-token.svg" class="nft-vol-token-svg" alt="">
                <div class="nft-val-txt-col">144,23089</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-coll-card-bg nft-coll-card-brdr">
    <div class="nft-card-bg-wh">
      <a href="#">
        <div class="nft-card-pad">
          <img alt="" aria-hidden="true" src="../../../../../assets/img-page-nft/banner-sm kitettens.png">
          <div class="nft-card-bot-flx-cnt nft-card-bot-pos">
            <div class="nft-card-avtr-pos nft-card-avtr-brdr nft-card-avtr-bg-sty nft-card-avtr-sz"
              style="background-image: url(../../../../../assets/img-page-nft/avatar-kittens.png);">
            </div>
            <h3 class="nft-txt-sz">Degen Ape Club</h3>
            <div class="nft-card-txt-lyt">
              <div class="nft-car-text-col">Volume</div>
              <div class="nft-card-val-flx">
                <img src="../../../../../assets/img-page-nft/nft-token.svg" class="nft-vol-token-svg" alt="">
                <div class="nft-val-txt-col">61,66697</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-coll-card-bg nft-coll-card-brdr">
    <div class="nft-card-bg-wh">
      <a href="#">
        <div class="nft-card-pad">
          <img alt="" aria-hidden="true" src="../../../../../assets/img-page-nft/banner-sm bosses.png">
          <div class="nft-card-bot-flx-cnt nft-card-bot-pos">
            <div class="nft-card-avtr-pos nft-card-avtr-brdr nft-card-avtr-bg-sty nft-card-avtr-sz"
              style="background-image: url(../../../../../assets/img-page-nft/avatar-bosses.png);">
            </div>
            <h3 class="nft-txt-sz">Degen Ape Club</h3>
            <div class="nft-card-txt-lyt">
              <div class="nft-car-text-col">Volume</div>
              <div class="nft-card-val-flx">
                <img src="../../../../../assets/img-page-nft/nft-token.svg" class="nft-vol-token-svg" alt="">
                <div class="nft-val-txt-col">29,219</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
