<div>
    <div class="nft-cnt-ln-sty">
      <div clip-path="#topConcaveCurve" class="nft-top-conv">
          <svg width="0" height="0">
          <defs>
            <clipPath id="topConcaveCurve" clipPathUnits="objectBoundingBox">
              <path d="M 0,0 L 0,1 L 1,1 L 1,0 C .75 1, .25 1, 0 0 Z"></path>
            </clipPath>
          </defs>
        </svg>
    </div>
    </div>
    <div class="nft-content-container d-flex nft-content-bg">
        <div class="nft-cnt-mrg-wth nft-cnt-mn-hght-pad nft-cnt-mn-hght-pad">
            <pancake-newest-collections></pancake-newest-collections>
            <pancake-hot-collections></pancake-hot-collections>
            <pancake-newest-arrivals></pancake-newest-arrivals>
            <pancake-faqs></pancake-faqs>
        </div>
    </div>
</div>
