.nft-cnt-ln-sty {
  background: none;
  z-index: 1;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

.nft-top-conv {
  width: 100%;
  height: 20px;
  clip-path: url(#topConcaveCurve);
  background: rgb(250, 249, 250);
  transform: translate(0px, 1px);
}

.nft-top-conv svg {
  display: block;
}

.nft-content-container {
  position: relative;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  z-index: 0;
  background: rgb(250, 249, 250);
  padding: 14px 0px 48px;
}

.d-flex {
  display: flex;
}

.nft-cnt-mrg-wth {
  margin: 0px;
  width: 100%;
}

.nft-cnt-mn-hght-pad {
  min-height: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nft-cnt-mx-wth-pad {
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.nft-cnt-bg-pos {
  position: relative;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  z-index: 0;
  background: rgb(250, 249, 250);
  padding: 14px 0px 48px;
}

.nft-faqs-bg-col {
  background: linear-gradient(111.68deg, rgb(242, 236, 242) 0%, rgb(232, 242, 246) 100%);
}

.nft-faqs-bg-pad {
  padding: 64px 0px;
}

@media screen and (min-width: 968px) {
  .nft-cnt-mn-hght-pad {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 576px) {
  .nft-cnt-mn-hght-pad {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 370px) {
  .nft-cnt-mx-wth-pad {
    padding-left: 24px;
    padding-right: 24px;
  }
}
