<div class="nft-ttl-flx-n nft-new-coll-mrg">
  <h2 class="nft-new-coll-fnt-sz nft-title-col">Newest Arrivals</h2>
  <a class="nft-view-all-btn" href="#">View
    All
    <img src="../../../../../assets/img-page-nft/nft-arrow.svg" alt="" class="nft-arrow-svg">
  </a>
</div>

<div class="nft-new-coll-d-grd-tmp-col">
  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
        <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                      <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-new-coll-card-brdr nft-new-coll-card-sty">
    <div class="nft-new-coll-card-bg">
      <a href="#">
        <div class="nft-card-pad">
          <div alt="Flipsie Easter '21" class="nft-new-coll-crd-brdr nft-new-crd-bg nft-new-crd-mx-pos"
            style="border-radius: 8px; background-image: url(../../../../../assets/img-page-nft/flipsie-easter-21-1000.png);">
          </div>
          <div class="nft-txt-view-all-flx">
            <div class="nft-new-coll-sub-text-col">Pancake Bunnies</div>
          </div>
          <h4 class="nft-nw-col-ttl-col">Flipsie Easter '21</h4>
          <div class="nft-nw-crd-brdr-top">
            <div class="nft-nw-crd-flx-foot">
              <div title="Lower price" class="nft-nw-crd-price">Lower price
              </div>
              <div>
                <div class="nft-card-val-flx">
                  <div class="nft-car-text-col">($1.130,06)</div>
                  <div class="nft-card-val-flx">
                    <img src="../../../../../assets/img-page-nft/nft-token.svg" alt="" class="nft-vol-token-svg">
                    <div class="nft-title-col">2,8</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>