<div class="nft-txt-view-all-flx nft-collection-mrg-bt">
  <h3 class="nft-title-sz nft-title-col">Hot
    Collections</h3>
  <a class="nft-view-all-btn" href="#">View
    All
    <img src="../../../../../assets/img-page-nft/nft-arrow.svg" alt="" class="nft-arrow-svg">
  </a>
</div>

<div class="nft-d-grd-tmp-col nft-gen-mrg-bot">
  <div class="nft-coll-card-bg nft-coll-card-brdr">
    <div class="nft-card-bg-wh">
      <a href="#">
        <div class="nft-card-pad">
          <img alt="" aria-hidden="true" src="../../../../../assets/img-page-nft/banner-sm-pancake-squad.png"
            class="nft-banner-brdr">
          <div class="nft-card-bot-flx-cnt nft-card-bot-pos">
            <div class="nft-card-avtr-pos nft-card-avtr-brdr nft-card-avtr-bg-sty nft-card-avtr-sz"
              style="background-image: url(../../../../../assets/img-page-nft/avatar-pancake-squad.png);">
            </div>
            <h3 class="nft-txt-sz">Degen Ape Club</h3>
            <div class="nft-card-txt-lyt">
              <div class="nft-car-text-col">Volume</div>
              <div class="nft-card-val-flx">
                <img src="../../../../../assets/img-page-nft/nft-token.svg" class="nft-vol-token-svg" alt="">
                <div class="nft-val-txt-col">87.692,15946</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-coll-card-bg nft-coll-card-brdr">
    <div class="nft-card-bg-wh">
      <a href="#">
        <div class="nft-card-pad">
          <img alt="" aria-hidden="true" src="../../../../../assets/img-page-nft/banner-sm-pancake-bunnies.png">
          <div class="nft-card-bot-flx-cnt nft-card-bot-pos">
            <div class="nft-card-avtr-pos nft-card-avtr-brdr nft-card-avtr-bg-sty nft-card-avtr-sz"
              style="background-image: url(../../../../../assets/img-page-nft/avatar-pancake-bunnies.png);">
            </div>
            <h3 class="nft-txt-sz">Degen Ape Club</h3>
            <div class="nft-card-txt-lyt">
              <div class="nft-car-text-col">Volume</div>
              <div class="nft-card-val-flx">
                <img src="../../../../../assets/img-page-nft/nft-token.svg" class="nft-vol-token-svg" alt="">
                <div class="nft-val-txt-col">31.502,85868</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-coll-card-bg nft-coll-card-brdr">
    <div class="nft-card-bg-wh">
      <a href="#">
        <div class="nft-card-pad">
          <img alt="" aria-hidden="true" src="../../../../../assets/img-page-nft/banner-sm-gamester-apes.png">
          <div class="nft-card-bot-flx-cnt nft-card-bot-pos">
            <div class="nft-card-avtr-pos nft-card-avtr-brdr nft-card-avtr-bg-sty nft-card-avtr-sz"
              style="background-image: url(../../../../../assets/img-page-nft/avatar-gamester-apes.png);">
            </div>
            <h3 class="nft-txt-sz">Degen Ape Club</h3>
            <div class="nft-card-txt-lyt">
              <div class="nft-car-text-col">Volume</div>
              <div class="nft-card-val-flx">
                <img src="../../../../../assets/img-page-nft/nft-token.svg" class="nft-vol-token-svg" alt="">
                <div class="nft-val-txt-col">1.857,47293</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-coll-card-bg nft-coll-card-brdr">
    <div class="nft-card-bg-wh">
      <a href="#">
        <div class="nft-card-pad">
          <img alt="" aria-hidden="true" src="../../../../../assets/img-page-nft/banner-sm-shitpunks.jpg">
          <div class="nft-card-bot-flx-cnt nft-card-bot-pos">
            <div class="nft-card-avtr-pos nft-card-avtr-brdr nft-card-avtr-bg-sty nft-card-avtr-sz"
              style="background-image: url(../../../../../assets/img-page-nft/avatar-shitpunks.png);">
            </div>
            <h3 class="nft-txt-sz">Degen Ape Club</h3>
            <div class="nft-card-txt-lyt">
              <div class="nft-car-text-col">Volume</div>
              <div class="nft-card-val-flx">
                <img src="../../../../../assets/img-page-nft/nft-token.svg" class="nft-vol-token-svg" alt="">
                <div class="nft-val-txt-col">144,23089</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-coll-card-bg nft-coll-card-brdr">
    <div class="nft-card-bg-wh">
      <a href="#">
        <div class="nft-card-pad">
          <img alt="" aria-hidden="true" src="../../../../../assets/img-page-nft/banner-sm-bornbadboys.png">
          <div class="nft-card-bot-flx-cnt nft-card-bot-pos">
            <div class="nft-card-avtr-pos nft-card-avtr-brdr nft-card-avtr-bg-sty nft-card-avtr-sz"
              style="background-image: url(../../../../../assets/img-page-nft/avatar-bornbadboys.png);">
            </div>
            <h3 class="nft-txt-sz">Degen Ape Club</h3>
            <div class="nft-card-txt-lyt">
              <div class="nft-car-text-col">Volume</div>
              <div class="nft-card-val-flx">
                <img src="../../../../../assets/img-page-nft/nft-token.svg" class="nft-vol-token-svg" alt="">
                <div class="nft-val-txt-col">61,66697</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="nft-coll-card-bg nft-coll-card-brdr">
    <div class="nft-card-bg-wh">
      <a href="#">
        <div class="nft-card-pad">
          <img alt="" aria-hidden="true" src="../../../../../assets/img-page-nft/banner-sm-bornbadgirls.png">
          <div class="nft-card-bot-flx-cnt nft-card-bot-pos">
            <div class="nft-card-avtr-pos nft-card-avtr-brdr nft-card-avtr-bg-sty nft-card-avtr-sz"
              style="background-image: url(../../../../../assets/img-page-nft/avatar-bornbadgirls.png);">
            </div>
            <h3 class="nft-txt-sz">Degen Ape Club</h3>
            <div class="nft-card-txt-lyt">
              <div class="nft-car-text-col">Volume</div>
              <div class="nft-card-val-flx">
                <img src="../../../../../assets/img-page-nft/nft-token.svg" class="nft-vol-token-svg" alt="">
                <div class="nft-val-txt-col">29,219</div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
