
  <main class="home"*ngIf="(voting$ | async) as iters;">
    <div class="home-container-principale">
      <div class="color">
      <div class="home-section home-section2">
        <div class="home-subcontainer-section home-subcontainer-section2">
          <div class="home-container-text-section home-container-text-section2">
            <h1 class="home-title home-title-section2">Voting</h1>
            <h4 class="home-subtitle home-subtitle-section2">
              Have your say in the future of the PancakeSwap Ecosystem
            </h4>

            <div class="home-container-buttons-section button-container1">
              <a href="#" class="home-page-ifo">
                <button class="buttonLarge buttonHover buttonActive"><img src="../../../../assets/img voting/icon-button-voting.svg" class="icon1">
                  Make a Proposal
                </button>
              </a>
            </div>
          </div>
          <div class="home-container-img home-container-images-section2">
            <img
            src="../../../../assets/img voting/voting-presents.png"
            alt="Voting Boxes"/>
          </div>
        </div>
      </div>
    </div>

  <!-- PROPOSALS -->
  <div class="home-section home-section4">
    <div class="home-subcontainer-section home-subcontainer-section4">
      <div class="home-container-text-section home-container-text-section4">
        <div class="home-container-buttons-section button-container1">
          <a href="#" class=" colleg buttonHover">Home  <span class="gray"> > </span></a><span> Voting</span>
        </div>
        <h1 class="home-title home-title-section4">Proposals</h1>
      </div>
      <div class="info-components-tokens-container">
        <div class="color1">
        <div class="tab-version-box info-tab-version-box">
          <button [ngClass]="{'tab-button-v1': !cardCore, 'tab-button-v2-active': cardCore }"(click)="clickCore()"><img *ngIf="!cardCore" src="../../../../assets/img voting/icon-voting.svg" class="icon1"><img *ngIf="cardCore" src="../../../../assets/img voting/icon-voting-bianca.svg" class="icon1">Core</button>
           <button [ngClass]="{'tab-button-v1': !cardCommunity, 'tab-button-v2-active': cardCommunity }"(click)="clickCommunity()"><img *ngIf="!cardCommunity"src="../../../../assets/img/users.svg" class="icon1"><img *ngIf="cardCommunity" src="../../../../assets/img/users-bianca.svg" class="icon1">Community</button>
          <button [ngClass]="{'tab-button-v1': !cardAdd, 'tab-button-v2-active': cardAdd }"(click)="clickAdd()">All</button>
        </div>
      </div>
        <div class="components-tokens-border"></div>
        <div class="components-tokens-a">
            <div class="info-input-selector__check__container">
              <div>
                <input type="radio" id="vote" name="proposals" value="vote" class="input-selector__radio" checked="">

                <label class="input-selector__label" for="vote">Vote Now</label>
              </div>
              <div>
                <input type="radio" id="soon" name="proposals" value="soon" class="input-selector__radio">

                <label class="input-selector__label" for="soon">Soon</label>
              </div>
              <div>
                <input type="radio" id="closed" name="proposals" value="closed" class="input-selector__radio">

                <label class="input-selector__label" for="closed">Closed</label>
              </div>
            </div>
        <div class="components-tokens-border"></div>
        </div>
        <a *ngIf="cardAdd  || cardCommunity" >
        <div class="componnents-tokens-foot-lay"*ngFor="let iter of iters">
          <div class="home-section home-section2 b">
            <div class="home-subcontainer-section home-subcontainer-section2 b1">
              <div class="home-container-text-section home-container-text-section2">
                <p class="home-subtitle home-subtitle-section2">
                  {{iter.title}}
                </p>
                <h4 class="home-subtitle home-subtitle-section2 c">
                 {{iter.data}}
                </h4>

                <div class="home-container-buttons-section button-container1">
                  <a href="#" class="home-page-ifo">
                    <button class="buttonew"><img src={{iter.voteIcon}} class="icon1">
                      {{iter.buttonVote}}
                    </button>
                  </a>
                  <a href="#" class="home-page-ifo">
                    <button class="buttonew1"><img src={{iter.iconCommunity}} class="icon1">
                      {{iter.buttonCommunity}}
                    </button>
                  </a>
                </div>
              </div>
              <div class="home-container-img home-container-images-section2 b2">
              </div>
            </div>
          </div>
        </div>
      </a>

      <a *ngIf="cardCore">
        <div class="componnents-tokens-foot-lay">
          <div class="home-section home-section2 b">
            <div class="home-subcontainer-section home-subcontainer-section2 b1">
              <div class="home-container-text-section home-container-text-section2">
                <p class="home-subtitle home-subtitle-section2">
                  {{iters[0].title}}
                </p>
                <h4 class="home-subtitle home-subtitle-section2 c">
                  {{iters[0].data}}
                </h4>

                <div class="home-container-buttons-section button-container1">
                  <a href="#" class="home-page-ifo">
                    <button class="buttonew"><img src={{iters[0].voteIcon}} class="icon1">
                      {{iters[0].buttonVote}}
                    </button>
                  </a>
                  <a href="#" class="home-page-ifo">
                    <button class="buttonew1"><img src="../../../../assets/img voting/icon-voting-fuxia.svg" class="icon1">
                      More
                    </button>
                  </a>
                </div>
              </div>
              <div class="home-container-img home-container-images-section2 b2">
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>


  <div class="color">
    <div class="home-section home-section2 ">
      <div class="home-subcontainer-section home-subcontainer-section2 ">
        <div class="home-container-text-section home-container-text-section2 ">
          <h2 class="home-subtitle home-subtitle-section2">
            Got a suggestion?
          </h2>
          <p class="home-subtitle home-subtitle-section2">
            Community proposals are a great way to see how the Community feels
            about your ideas.
          </p>
          <p class="home-subtitle home-subtitle-section2">
            They won't necessarily be implemented if the Community votes
            succesful,
            but suggestions with a lot of community support may be
            made into Core proposals.
          </p>

          <div class="home-container-buttons-section button-container1">
            <a href="#" class="home-page-ifo">
              <button class="buttonLarge buttonHover buttonActive"><img src="../../../../assets/img voting/icon-button-voting.svg" class="icon1">
                Make a Proposal
              </button>
            </a>
          </div>
        </div>
        <div class="home-container-img home-container-images-section2">
          <img src="../../../../assets/img voting/voting-bunny.png" alt="" />
        </div>
      </div>
    </div>
  </div>
    </div>
  </main>

