<div class="input-switch__container">
  <div class="input-switch__box">
    <input scale="md" type="checkbox" class="input-switch__checkbox" />
    <div class="input-switch__states">
      <div class="input-switch__item--off">
        <img src="../../../assets/img/sun-gray.svg" alt="" />
      </div>
      <div class="input-switch__item--on">
        <img src="../../../assets/img/moon.svg" class="moonIcon" alt="" />
      </div>
    </div>
  </div>
  <div class="input-switch__selected">
    <div class="input-switch__item--selected">
      <img class="svgSun" src="../../../assets/img/sun.svg" alt="" />
    </div>
  </div>
</div>
