.input-switch__container {
  align-items: center;
  background-color: rgb(189, 194, 196);
  border-radius: 24px;
  box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
  cursor: pointer;
  display: inline-flex;
  height: 35px;
  position: relative;
  transition: background-color 200ms ease 0s;
  width: 60px;
  justify-content: space-around;
  align-items: center;
}

.input-switch__box {
  display: flex;
}

.input-switch__checkbox {
  cursor: pointer;
  opacity: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.input-switch__states {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 2px;
}

.input-switch__item--off {
  fill: white;
}

.input-switch__item--on {
  fill: white;
}

.input-switch__selected {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 100px;
  position: absolute;
  top: 3px;
  left: 3px;
  /* right: 3px; */
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-switch__selected:hover {
  box-shadow: rgb(118 69 217) 0px 0px 0px 1px,
    rgb(118 69 217 / 60%) 0px 0px 0px 4px;
}

.input-switch__item--selected {
  margin-top: 2px;
  fill: yellow;
}
