<div class="comp-third-par">
  <div class="comp-thi-par-mid">
    <div class="comp-thi-par-mid-tr">
      <div class="comp-thi-par-mid-pos comp-th-cnt-tp-flx">
        <img src="../../../../../assets/img-competiton/trophies.svg" alt="trophies" class="comp-gen-svg-sty">
        <div class="comp-ban-thi-pos comp-th-cnt-tp-flx">
          <div class="comp-ban-thi-flx">
            <img src="../../../../../assets/img-competiton/cl-left-r.svg"
              class="comp-svg-cl-left-r-pos-fst comp-gen-svg-sty" alt="cl-left">
          </div>
          <div class="comp-thi-lft-tw-pos">
            <img src="../../../../../assets/img-competiton/cl-left-tw.svg" class="comp-cl-right-tw-hw comp-gen-svg-sty">
          </div>
          <div>
            <img src="../../../../../assets/img-competiton/ban-third.svg" class="comp-thi-ban-svg comp-gen-svg-sty"
              alt="">
            <h2 class="comp-con-tx-sz comp-thi-par-h2-hid comp-gen-h2-sz comp-gen-h2-col">Team Ranks
            </h2>
          </div>
          <div class="comp-ban-pos">
            <h2 class="comp-con-tx-sz comp-thi-par-h2-sty comp-thi-par-h2-pad">Team Ranks</h2>
          </div>
          <div class="comp-thi-cl-right-tw">
            <img src="../../../../../assets/img-competiton/cl-right-tw.svg"
              class="comp-cl-right-tw-hw comp-gen-svg-sty">
          </div>
          <img src="../../../../../assets/img-competiton/cl-right-th.svg"
            class="comp-svg-cl-right-r-pos-fst comp-gen-svg-sty"
            alt="">
        </div>
      </div>
    </div>
    <div clip-path="#topConcaveCurve" class="comp-thi-par-tops-conv">
      <svg width="0" height="0" class="comp-d-block">
        <defs>
          <clipPath id="topConcaveCurve" clipPathUnits="objectBoundingBox">
            <path d="M 0,0 L 0,1 L 1,1 L 1,0 C .75 1, .25 1, 0 0 Z"></path>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>

  <div class="comp-thi-par-bot-pos comp-flex">
    <div class="comp-thi-par-bot-pad comp-thi-par-bot-marg">
      <div class="comp-thi-bot-cont-marg">
        <div class=".comp-flx-drn-gen comp-flex">
          <div class="comp-thi-bot-lft-cont-flx comp-thi-bot-lft-cont-ly comp-flex">
            <div class="comp-gen-width">
              <div class="comp-thi-par-bot-l-dr comp-flex">

                <div class="comp-flex comp-thi-bot-cnt-hp">
                  <div class="comp-thi-bot-fst comp-thi-bot-fst-pl">
                    <div class="comp-thi-wh-fst comp-th-cnt-tp-flx">
                      <div class="comp-thi-bot-fst-sty comp-flex">
                        <div class="comp-thi-bot-fst-trd-mx-hw">
                          <img src="../assets/img-competiton/syrup-storm-lg.png"
                            class="comp-thi-bot-svg-bdr comp-thi-bot-fst-svg-hw">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="comp-thi-bot-snd-pos">
                    <div class="comp-thi-bot-snd-wh comp-th-cnt-tp-flx">
                      <div class="comp-thi-bot-snd-sty comp-flex">
                        <div class="comp-thi-bot-snd-mx-hw">
                          <img src="../../../../../assets/img-competiton/fearsome-flippers-lg.png"
                            class="comp-thi-bot-svg-bdr comp-thi-bot-snd-svg">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="comp-thi-bot-trd comp-thi-bot-trd-pos">
                    <div class="comp-thi-bot-trd-hw comp-th-cnt-tp-flx">
                      <div class="comp-thi-bot-trd-sty comp-flex">
                        <div class="comp-thi-bot-fst-trd-mx-hw">
                          <img src="../../../../../assets/img-competiton/chaotic-cakers-lg.png"
                            class="comp-thi-bot-svg-bdr comp-thi-bot-snd-svg">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <img src="../../../../../assets/img-competiton/podium.svg"
                  class="comp-thi-bot-svg-pod-hw comp-gen-svg-sty"
                  alt="podium">
                <!-- qui -->
                <div class="comp-thi-bot-prize-flx">
                  <div class="comp-thi-prize-flx-drc comp-flex">
                    <div class="comp-thi-prize-fst-font-sty">$33,340,537
                    </div>
                    <div class="comp-thi-prize-volume">Volume</div>
                  </div>
                  <div class="comp-thi-prize-flx-drc comp-flex">
                    <div class="comp-thi-prize-fst-font-sty">$79,851,188
                    </div>
                    <div class="comp-thi-prize-volume">Volume</div>
                  </div>
                  <div class="comp-thi-prize-flx-drc comp-flex">
                    <div class="comp-thi-prize-fst-font-sty">$14,007,757
                    </div>
                    <div class="comp-thi-prize-volume">Volume</div>
                  </div>
                </div>
                <!-- qui -->
                <!-- <div class="sc-c4ec0fdf-0 sc-81d13ad5-2 dhFkKR gZzeCc"><span
                                            style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                                                    alt="" aria-hidden="true"
                                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27200%27%20height=%27205%27/%3e"
                                                    style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                                src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcakers.425eaa17.png&amp;w=640&amp;q=75"
                                                decoding="async" data-nimg="intrinsic"
                                                srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcakers.425eaa17.png&amp;w=256&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcakers.425eaa17.png&amp;w=640&amp;q=75 2x"
                                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                                    </div> -->
                <!-- qui -->
              </div>
            </div>
            <div class="comp-thi-bot-lft-ct-whf"></div>
          </div>

          <div class="comp-thi-bot-right-cont-flx comp-width comp-flex">
            <div class="comp-trd-bot-r-ct-bg-sty">
              <div class="comp-trd-bot-r-ct-wh-bg">
                <!-- qui -->
                <div class="comp-width">
                  <div class="comp-trd-r-cnt-top">
                    <h2 class="comp-trd-r-cnt-top-h2 comp-font-sz">Top Traders</h2>
                    <div class="comp-trd-r-cnt-top-subtitle">Since start
                      of the competition</div>
                  </div>
                  <div class="comp-trd-r-cnt-center">
                    <div class="comp-trd-r-cnt-ctr-nav-brd comp-flex comp-pad-gen">
                      <div class=".comp-trd-r-cnt-ctr-flx-gr comp-trd-r-cnt-ctr-jst comp-flex">
                        <button color="comp-flx-drn-gen" class="comp-trd-r-cnt-ctr-btn-active-sty">Total</button>
                        <button class="comp-trd-r-cnt-ctr-btn-disabled-sty comp-trd-r-cnt-ctr-flx-gr">Storm</button>
                        <button class="comp-trd-r-cnt-ctr-btn-disabled-sty comp-trd-r-cnt-ctr-flx-gr">Flippers</button>
                        <button class="comp-trd-r-cnt-ctr-btn-disabled-sty comp-trd-r-cnt-ctr-flx-gr ">Cakers</button>
                      </div>
                    </div>
                    <div class="">
                      <div class="comp-grid-tmplt-lyt-rsp
                                                comp-trd-r-cnt-ctr-pos">
                        <div class="comp-trd-r-cnt-ctr-flx comp-r-cnt-ctr-mrg-l">
                          <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2">#1</h2>
                        </div>
                        <div class="comp-trd-r-cnt-ctr-flx">
                          <div class="comp-r-ctr-fnt-sty">$11,033,510</div>
                        </div>
                        <div class="comp-trd-r-cnt-ctr-flx">
                          <div class="comp-r-ctr-fnt-nmb-sty">0x72...a55b</div>
                        </div>
                        <div class="comp-pos-rltv comp-r-svg-cnt-flx">
                          <img src="../../../../../assets/img-competiton/rabbit-skull.svg"
                            class="comp-svg-hgt comp-gen-svg-sty"
                            alt="">
                        </div>
                      </div>
                      <div class="comp-grid-tmplt-lyt-rsp
                                                comp-trd-r-cnt-ctr-pos">
                        <div class="comp-trd-r-cnt-ctr-flx comp-r-cnt-ctr-mrg-l">
                          <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2">#2</h2>
                        </div>
                        <div class="comp-trd-r-cnt-ctr-flx">
                          <div class="comp-r-ctr-fnt-sty">$10,787,999</div>
                        </div>
                        <div class="comp-trd-r-cnt-ctr-flx">
                          <div class="comp-r-ctr-fnt-nmb-sty">0x2D...A9BA</div>
                        </div>
                        <div class="comp-pos-rltv comp-r-svg-cnt-flx">
                          <img src="../../../../../assets/img-competiton/bull.svg" class="comp-svg-hgt comp-gen-svg-sty"
                            alt="">
                        </div>
                      </div>
                      <div class="comp-grid-tmplt-lyt-rsp
                                                comp-trd-r-cnt-ctr-pos">
                        <div class="comp-trd-r-cnt-ctr-flx comp-r-cnt-ctr-mrg-l">
                          <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2">#3</h2>
                        </div>
                        <div class="comp-trd-r-cnt-ctr-flx">
                          <div class="comp-r-ctr-fnt-sty">$7,415,266</div>
                        </div>
                        <div class="comp-trd-r-cnt-ctr-flx">
                          <div class="comp-r-ctr-fnt-nmb-sty">0x3e...d90c</div>
                        </div>
                        <div class="comp-pos-rltv comp-r-svg-cnt-flx">
                          <img src="../../../../../assets/img-competiton/rabbit-skull.svg"
                            class="comp-svg-hgt comp-gen-svg-sty"
                            alt="">
                        </div>
                      </div>
                      <div class="comp-grid-tmplt-lyt-rsp
                                                 comp-trd-r-cnt-ctr-pos">
                        <div class="comp-trd-r-cnt-ctr-flx comp-r-cnt-ctr-mrg-l">
                          <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2">#4</h2>
                        </div>
                        <div class="comp-trd-r-cnt-ctr-flx">
                          <div class="comp-r-ctr-fnt-sty">$5,234,418</div>
                        </div>
                        <div class="comp-trd-r-cnt-ctr-flx">
                          <div class="comp-r-ctr-fnt-nmb-sty">0x64...8AaE</div>
                        </div>
                        <div class="comp-pos-rltv comp-r-svg-cnt-flx">
                          <img src="../../../../../assets/img-competiton/rabbit-skull.svg"
                            class="comp-svg-hgt comp-gen-svg-sty"
                            alt="">
                        </div>
                      </div>
                      <div class="comp-grid-tmplt-lyt-rsp
                                                comp-trd-r-cnt-ctr-pos">
                        <div class="comp-trd-r-cnt-ctr-flx comp-r-cnt-ctr-mrg-l">
                          <h2 class="comp-ctr-fnt-sz comp-trd-r-cnt-top-h2">#5</h2>
                        </div>
                        <div class="comp-trd-r-cnt-ctr-flx">
                          <div class="comp-r-ctr-fnt-sty">$3,355,375</div>
                        </div>
                        <div class="comp-trd-r-cnt-ctr-flx">
                          <div class="comp-r-ctr-fnt-nmb-sty">0xc8...212E</div>
                        </div>
                        <div class="comp-pos-rltv comp-r-svg-cnt-flx">
                          <img src="../../../../../assets/img-competiton/rabbit-skull.svg"
                            class="comp-svg-hgt comp-gen-svg-sty"
                            alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="comp-trd-r-cnt-bottom">
                    <div class="comp-th-cnt-tp-flx">
                      <button class="comp-bot-r-btn-sty">Show More
                        <img src="../../../../../assets/img-competiton/show-arrow.svg" class="comp-trd-bot-r-ar-svg"
                          alt="">
                      </button>
                    </div>
                  </div>
                </div>
                <!-- qui -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>