<div class="home-subsection5-tab-tod-farms">
  <div class="tab-box-top-farm-syrup-pools">
    <h2 class="tab-scritta-top">
      {{ title[0].h2 }}
      <span *ngIf="tab1" id="farms" class="tab-scritta-switch-farm tab-scritta-switch displayUp">
        {{ title[0].span1 }}
      </span>
      <span *ngIf="!tab1" id="pools" class="tab-scritta-switch-syrup-pools tab-scritta-switch displayDown">
        {{ title[0].span2 }}
      </span>
      <button id="button-switch" class="tab-button-switch-farm-syrup-pools"(click)="clickTab()">
        <img
          src="../../../assets/Assets1/freccia-switch-farms-tab.svg"
          class="icona-svg-freccia-switch"
        />
      </button>
    </h2>
  </div>

  <div *ngIf="tab1" class="home-container-tab home-container-text-switch-tab-farms transitionDown">
    <div class="home-container-section-text-tab-farms">
      <h5 class="home-title-text-switch-taab-farms">{{ tab[0].titleTab }}</h5>
      <h2 class="home-value-switch-tab-farms">{{ tab[0].numberTab }}</h2>
      <h2 class="home-subtitle-switch-tab-farms">{{ tab[0].subTab }}</h2>
    </div>
    <div class="home-container-section-text-tab-farms">
      <h5 class="home-title-text-switch-taab-farms">{{ tab[1].titleTab }}</h5>
      <h2 class="home-value-switch-tab-farms">{{ tab[1].numberTab }}</h2>
      <h2 class="home-subtitle-switch-tab-farms">{{ tab[1].subTab }}</h2>
    </div>
    <div class="home-container-section-text-tab-farms">
      <h5 class="home-title-text-switch-taab-farms">{{ tab[2].titleTab }}</h5>
      <h2 class="home-value-switch-tab-farms">{{ tab[2].numberTab }}</h2>
      <h2 class="home-subtitle-switch-tab-farms">{{ tab[2].subTab }}</h2>
    </div>
    <div class="home-container-section-text-tab-farms">
      <h5 class="home-title-text-switch-taab-farms">{{ tab[3].titleTab }}</h5>
      <h2 class="home-value-switch-tab-farms">{{ tab[3].numberTab }}</h2>
      <h2 class="home-subtitle-switch-tab-farms">{{ tab[3].subTab }}</h2>
    </div>
    <div class="home-container-section-text-tab-farms">
      <h5 class="home-title-text-switch-taab-farms">{{ tab[4].titleTab }}</h5>
      <h2 class="home-value-switch-tab-farms">{{tab[4].numberTab }}</h2>
      <h2 class="home-subtitle-switch-tab-farms">{{ tab[4].subTab }}</h2>
    </div>
  </div>
  <div ng *ngIf="!tab1" class="home-container-tab home-container-text-switch-tab-syrup-pools transitionUp" >
    <div class="home-container-section-text-tab-syrup-pools">
      <h5 class="home-title-text-switch-taab-farms">{{ tab[5].titleTab }}</h5>
      <h2 class="home-value-switch-tab-farms">{{ tab[5].numberTab }}</h2>
      <h2 class="home-subtitle-switch-tab-farms">{{ tab[5].subTab }}</h2>
    </div>
    <div class="home-container-section-text-tab-syrup-pools">
      <h5 class="home-title-text-switch-taab-farms">{{ tab[6].titleTab }}</h5>
      <h2 class="home-value-switch-tab-farms">{{ tab[6].numberTab }}</h2>
      <h2 class="home-subtitle-switch-tab-farms">{{ tab[6].subTab }}</h2>
    </div>
    <div class="home-container-section-text-tab-syrup-pools">
      <h5 class="home-title-text-switch-taab-farms">{{ tab[7].titleTab }}</h5>
      <h2 class="home-value-switch-tab-farms">{{ tab[7].numberTab }}</h2>
      <h2 class="home-subtitle-switch-tab-farms">{{ tab[7].subTab }}</h2>
    </div>
    <div class="home-container-section-text-tab-syrup-pools">
      <h5 class="home-title-text-switch-taab-farms">{{ tab[8].titleTab }}</h5>
      <h2 class="home-value-switch-tab-farms">{{ tab[8].numberTab }}</h2>
      <h2 class="home-subtitle-switch-tab-farms">{{ tab[8].subTab }}</h2>
    </div>
    <div class="home-container-section-text-tab-syrup-pools">
      <h5 class="home-title-text-switch-taab-farms">{{ tab[9].titleTab }}</h5>
      <h2 class="home-value-switch-tab-farms">{{ tab[9].numberTab }}</h2>
      <h2 class="home-subtitle-switch-tab-farms">{{ tab[9].subTab }}</h2>
    </div>
  </div>
</div>
