  <div>
    <div class="comp-bg comp-flex comp-hd-mrg-top">
      <div class="desk-padd desk-padd-l">
        <div class="comp-flex comp-marg-bot">
          <div class="comp-flex-cont">
            <div class="comp-text-cont ">
              <div class="comp-date-sty">Dec 14-20, 2021</div>
              <h2 class="comp-bia-sty ">Binance Fan Token Trading Competition</h2>
              <h2 class="comp-prize-sty">$120,000 in Prizes!</h2>
              <h2 class="comp-vol-sty">Compete with other teams for the highest trading volume!</h2>
            </div>
            <div class="comp-card-time comp-flex">
              <div class="comp-flex comp-card-head">
                <img src="../assets/img-competiton/icona-sveglia.svg"
                  class="icona-sveglia-con-media icona-sveglia icon-clock">
              </div>
              <div class="comp-flex comp-card-foot">
                <div class="comp-card-text">
                  <h2 class="comp-card-tx-sty">Finished!</h2>
                </div>
                <div class="comp-flex">
                  <div class="comp-flex comp-card-cont">
                    <img src="../assets/img-competiton/check.svg" class="comp-check-svg" alt="icona check">
                    <div class="comp-tx-ti-sty">ENTRY</div>
                  </div>
                  <div class="comp-line"></div>
                  <div class="comp-flex comp-card-cont">
                    <img src="../assets/img-competiton/check.svg" class="comp-check-svg" alt="icona check">
                    <div class="comp-tx-ti-sty">LIVE</div>
                  </div>
                  <div class="comp-line"></div>
                  <div class="comp-flex comp-card-cont">
                    <img src="../assets/img-competiton/comp-bunny.svg" class="comp-gen-svg-sty" alt="bunny">
                    <div class="comp-tx-ti-sty com-tx-end-sty">END</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
