<div class="nft-faq-mx-wth">
  <div class="nft-faq-card-bg">
    <div class="nft-faq-card-brdr">
      <div class="nft-faq-card-head-bg">
        <h2 scale="lg" class="nft-title-sz nft-faq-card-ttl-col">FAQs</h2>
      </div>
      <div class="nft-faq-card-pad">
        <div id="I sold an NFT, where’s my BNB?" class="nft-faq-card-row-flx nft-faq-card-row-mrg">
          <div class="nft-faq-card-cursor nft-faq-card-row-cnt-flx nft-faq-card-row-pad">
            <div class="nft-faq-card-txt-col">I sold an NFT, where’s my BNB?</div>
            <div class="d-flex">
              <button class="nft-faq-card-btn-flx nft-faq-card-btn-sty">Details
                <img src="../../../../../assets/img-page-nft/show-arrow.svg" class="nft-show-arrow-svg">
              </button>
            </div>
          </div>
          <div class="nft-faq-card-line-bot nft-faq-card-gen-flx-dir">
            <!-- <p class="nft-faq-card-cnt-txt-col">Trades are settled in WBNB, which is a wrapped version of
              BNB used on BNB Smart Chain. That means that when you sell an item, WBNB is sent to your wallet instead
              of BNB.</p>
            <p class="nft-faq-card-cnt-txt-col">You can instantly swap your WBNB for BNB with no trading
              fees on PancakeSwap.</p> -->
          </div>
        </div>
        <div id="I sold an NFT, where’s my BNB?" class="nft-faq-card-row-flx nft-faq-card-row-mrg">
          <div class="nft-faq-card-cursor nft-faq-card-row-cnt-flx nft-faq-card-row-pad">
            <div class="nft-faq-card-txt-col">I sold an NFT, where’s my BNB?</div>
            <div class="d-flex">
              <button class="nft-faq-card-btn-flx nft-faq-card-btn-sty">Details
                <img src="../../../../../assets/img-page-nft/show-arrow.svg" class="nft-show-arrow-svg">
              </button>
            </div>
          </div>
          <div class="nft-faq-card-line-bot nft-faq-card-gen-flx-dir">
            <!-- <p class="nft-faq-card-cnt-txt-col">Trades are settled in WBNB, which is a wrapped version of
              BNB used on BNB Smart Chain. That means that when you sell an item, WBNB is sent to your wallet instead
              of BNB.</p>
            <p class="nft-faq-card-cnt-txt-col">You can instantly swap your WBNB for BNB with no trading
              fees on PancakeSwap.</p> -->
          </div>
        </div>
        <div id="I sold an NFT, where’s my BNB?" class="nft-faq-card-row-flx nft-faq-card-row-mrg">
          <div class="nft-faq-card-cursor nft-faq-card-row-cnt-flx nft-faq-card-row-pad">
            <div class="nft-faq-card-txt-col">I sold an NFT, where’s my BNB?</div>
            <div class="d-flex">
              <button class="nft-faq-card-btn-flx nft-faq-card-btn-sty">Details
                <img src="../../../../../assets/img-page-nft/show-arrow.svg" class="nft-show-arrow-svg">
              </button>
            </div>
          </div>
          <div class="nft-faq-card-line-bot nft-faq-card-gen-flx-dir">
            <!-- <p class="nft-faq-card-cnt-txt-col">Trades are settled in WBNB, which is a wrapped version of
              BNB used on BNB Smart Chain. That means that when you sell an item, WBNB is sent to your wallet instead
              of BNB.</p>
            <p class="nft-faq-card-cnt-txt-col">You can instantly swap your WBNB for BNB with no trading
              fees on PancakeSwap.</p> -->
          </div>
        </div>
        <div id="I sold an NFT, where’s my BNB?" class="nft-faq-card-row-flx">
          <div class="nft-faq-card-cursor nft-faq-card-row-cnt-flx nft-faq-card-row-pad">
            <div class="nft-faq-card-txt-col">I sold an NFT, where’s my BNB?</div>
            <div class="d-flex">
              <button class="nft-faq-card-btn-flx nft-faq-card-btn-sty">Details
                <img src="../../../../../assets/img-page-nft/show-arrow.svg" class="nft-show-arrow-svg">
              </button>
            </div>
          </div>
          <div class="nft-faq-card-line-bot nft-faq-card-gen-flx-dir">
            <!-- <p class="nft-faq-card-cnt-txt-col">Trades are settled in WBNB, which is a wrapped version of
              BNB used on BNB Smart Chain. That means that when you sell an item, WBNB is sent to your wallet instead
              of BNB.</p>
            <p class="nft-faq-card-cnt-txt-col">You can instantly swap your WBNB for BNB with no trading
              fees on PancakeSwap.</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a target="_blank" rel="noreferrer noopener" href="#"
  class="nft-faq-card-nft-market-flx nft-faq-card-nft-market-sty">Apply to NFT Market!
  <img src="../../../../.././assets/img-page-nft/go-to-page-arrow.svg" alt="arrow" class="nft-go-to-market-sty">
</a>
