<div class="">
  <div class="comp-foot-bg-sty">
    <div clip-path="#topConvexCurve" class="comp-foot-tops-conv">
      <svg width="0" height="0">
        <defs>
          <clipPath id="topConvexCurve" clipPathUnits="objectBoundingBox">
            <path d="M 0,1 L 0,0 L 1,0 L 1,1 C 0.75 0, .25 0, 0 1 Z"></path>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
  <div class="comp-foot-pos-flx comp-flex">
    <div class="comp-pad-gen comp-foot-mh comp-foot-cont-m-lr">
      <div class="comp-foot-flx-ctr">
        <div class="comp-flex comp-foot-fit-cnt">
          <div class="comp-fin-sty">
            <div class="comp-fin-sh comp-sec-h-s">
              <div class="comp-sec-pad">
                <div class="comp-sec-con-pos">
                  <h2 class="comp-con-tx-sty comp-con-tx-sz">Finished!</h2>
                  <div class="comp-con-svg-btn">
                    <img src="../assets/img-competiton/left-twig.svg" alt="twig" class="comp-twig-svg-sty">
                    <button class="buttonStandard comp-btn-dis-sty comp-btn-marg">Connect
                      Wallet</button>
                    <img src="../assets/img-competiton/right-twig.svg" alt="twig" class="comp-twig-svg-sty">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=""><span
            style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
              style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                alt="" aria-hidden="true"
                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27147%27%20height=%27200%27/%3e"
                style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
              src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstorm.fc586ed7.png&amp;w=384&amp;q=75" decoding="async"
              data-nimg="intrinsic"
              srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstorm.fc586ed7.png&amp;w=256&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fstorm.fc586ed7.png&amp;w=384&amp;q=75 2x"
              style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
        </div>
      </div>
    </div>
  </div>
</div>

