<div class="comp-third-par">

  <div class="comp-fth-bg-pos">
    <div class="comp-fth-pos">
      <div class="comp-thi-par-mid-pos comp-th-cnt-tp-flx">
        <img src="../assets/img-competiton/medals.svg" class="comp-gen-svg-sty" alt="">
        <div class="comp-ban-thi-pos comp-th-cnt-tp-flx">
          <div class="comp-ban-thi-flx">
            <img src="../assets/img-competiton/cl-left-r.svg" class="comp-svg-cl-left-r-pos comp-gen-svg-sty" alt="">
            <div class="comp-thi-lft-tw-pos">
              <img src="../assets/img-competiton/cl-left-tw.svg" class="comp-cl-right-tw-hw comp-gen-svg-sty" alt="">
            </div>
            <div>
              <img src="../assets/img-competiton/banner-shadow.svg" class="comp-thi-ban-svg comp-gen-svg-sty" alt="">
              <h2 class="comp-con-tx-sz comp-fth-h2-hdn comp-gen-h2-sz comp-fth-h2-col">
                Prizes</h2>
            </div>
            <div class="comp-ban-pos">
              <h2 class="comp-con-tx-sz comp-thi-par-h2-sty comp-gen-h2-sz comp-thi-par-h2-pad">
                Prizes</h2>
            </div>
            <div class="comp-thi-cl-right-tw">

              <img src="../assets/img-competiton/cl-right-tw.svg" class="comp-cl-right-tw-hw comp-gen-svg-sty" alt="">
            </div>
            <img src="../assets/img-competiton/cl-right-th.svg" class="comp-svg-cl-right-r-pos comp-gen-svg-sty" alt="">
          </div>
        </div>
      </div>
    </div>
    <div clip-path="#topConcaveCurve" class="comp-fth-top-conv">
      <svg class="comp-d-block" width="0" height="0">
        <defs>
          <clipPath id="topConcaveCurve" clipPathUnits="objectBoundingBox">
            <path d="M 0,0 L 0,1 L 1,1 L 1,0 C .75 1, .25 1, 0 0 Z"></path>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>

  <!-- quu1 -->
  <div class="comp-fth-l-cnt-pos comp-flex">
    <div class="comp-foot-mh comp-foot-cont-m-lr">
      <div class="comp-thi-bot-cont-marg">
        <div class="comp-fth-flx-drc comp-flex">
          <div class="comp-fth-marg-r-flx comp-trd-bot-r-ct-bg-sty">
            <div class="comp-bot-bak-sty">
              <div class="comp-fth-top-bg">
                <h2 class="comp-font-sz comp-trd-r-cnt-top-h2">
                  Prizes by Team</h2>
                <div class="comp-trd-r-cnt-top-subtitle">Higher trading
                  volume = higher rank!</div>
              </div>
              <div class="comp-fth-ctr-pad-top">
                <div class="comp-trd-r-cnt-ctr-nav-brd comp-flex comp-pad-gen comp-nav-thi">
                  <div class="comp-trd-r-cnt-ctr-flx-gr comp-flex">
                    <button class="comp-trd-r-cnt-ctr-btn-active-sty">#1
                      Team</button>
                    <button class="comp-trd-r-cnt-ctr-btn-disabled-sty">#2
                      Team</button>
                    <button class="comp-trd-r-cnt-ctr-btn-disabled-sty">#3
                      Team</button>
                  </div>
                </div>
                <div class="comp-fth-ctr-mn-wh">
                  <table class="comp-width comp-fth-ctr-table-cpse">
                    <thead>
                      <tr>
                        <th>Rank in team</th>
                        <th>Tier</th>
                        <th>Token Prizes (Split)</th>
                        <th>Achievements</th>
                        <th>NFT</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">1</td>
                        <td class="comp-gen-pad-ot">
                          <img src="../assets/img-competiton/gold.svg" class="comp-gen-svg-sty" alt="">
                          <div class="comp-fth-ctr-gold-sty comp-fth-ctr-fnt-wgth comp-gen-pad-ot">
                            Gold</div>
                        </td>
                        <td class="comp-gen-pad-ot comp-fth-ctr-fnt-wgth">$12.600</td>
                        <td class="comp-gen-pad-ot">
                          <div class="comp-fth-ctr-flx-itms comp-width">
                            <span
                              style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;">
                                <img alt="" aria-hidden="true"
                                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2738%27%20height=%2738%27/%3e"
                                  style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                src="../assets/img-competiton/fan-token-champion-gold.svg" decoding="async"
                                data-nimg="intrinsic" srcset="../assets/img-competiton/fan-token-champion-gold.svg
                                                                    1x,
                                                                    ../assets/img-competiton/fan-token-champion-gold.svg
                                                                    2x"
                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                            <div class="comp-fth-ctr-ach-sty">+2.500</div>
                          </div>
                        </td>
                        <td class="comp-gen-pad-ot ">
                          <img src="../assets/img-competiton/check-green.svg" class="comp-check-gr-svg" alt="">
                        </td>
                      </tr>
                      <tr>
                        <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">2 ~ 10</td>
                        <td class="comp-gen-pad-ot">
                          <img src="../assets/img-competiton/comp-silver.svg" class="comp-gen-svg-sty ">
                          <div class="comp-fth-ctr-silver-col">
                            Silver</div>
                        </td>
                        <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">$29.400</td>
                        <td class="comp-gen-pad-ot">
                          <div class="comp-fth-ctr-flx-itms comp-width">
                            <span
                              style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;">
                                <img alt="" aria-hidden="true"
                                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2738%27%20height=%2738%27/%3e"
                                  style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                src="../assets/img-competiton/fan-token-top-10-gold.svg" decoding="async"
                                data-nimg="intrinsic" srcset="../assets/img-competiton/fan-token-top-10-gold.svg
                                                                    1x,
                                                                    ../assets/img-competiton/fan-token-top-10-gold.svg
                                                                    2x"
                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                            <div class="comp-fth-ctr-ach-sty">+1.250</div>
                          </div>
                        </td>
                        <td class="comp-gen-pad-ot">
                          <img src="../assets/img-competiton/check-green.svg" class="comp-check-gr-svg" alt="">
                        </td>
                      </tr>
                      <tr>
                        <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">11 ~ 100</td>
                        <td class="comp-gen-pad-ot">
                          <img src="../assets/img-competiton/comp-bronze.svg" class="comp-gen-svg-sty" alt="">
                          <div class="comp-fth-bronze-col">
                            Bronze</div>
                        </td>
                        <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">$25.200</td>
                        <td class="comp-gen-pad-ot">
                          <div class="comp-fth-ctr-flx-itms comp-width"><span
                              style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                                  alt="" aria-hidden="true"
                                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2738%27%20height=%2738%27/%3e"
                                  style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                src="../assets/img-competiton/fan-token-top-100-gold.svg" decoding="async"
                                data-nimg="intrinsic" srcset="../assets/img-competiton/fan-token-top-100-gold.svg
                                                                    1x,
                                                                    ../assets/img-competiton/fan-token-top-100-gold.svg
                                                                    2x"
                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                            <div class="comp-fth-ctr-ach-sty">+1.000</div>
                          </div>
                        </td>
                        <td class="comp-gen-pad-ot">
                          <img src="../assets/img-competiton/check-green.svg" class="comp-check-gr-svg" alt="">
                        </td>
                      </tr>
                      <tr>
                        <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">101 ~ 500</td>
                        <td class="comp-gen-pad-ot">
                          <img src="../assets/img-competiton/comp-purple.svg" class="comp-gen-svg-sty" alt="">
                          <div class="comp-fth-ctr-purple-col">
                            Purple</div>
                        </td>
                        <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">$16.800</td>
                        <td class="comp-gen-pad-ot">
                          <div class="comp-fth-ctr-flx-itms comp-width">
                            <span
                              style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                                  alt="" aria-hidden="true"
                                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2738%27%20height=%2738%27/%3e"
                                  style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                src="../assets/img-competiton/fan-token-top-500-gold.svg" decoding="async"
                                data-nimg="intrinsic" srcset="../assets/img-competiton/fan-token-top-500-gold.svg
                                                                    1x,
                                                                    ../assets/img-competiton/fan-token-top-500-gold.svg
                                                                    2x"
                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                            <div class="comp-fth-ctr-ach-sty">+850
                            </div>
                          </div>
                        </td>
                        <td class="comp-gen-pad-ot">
                          <img src="../assets/img-competiton/check-green.svg" class="comp-check-gr-svg" alt="">
                        </td>
                      </tr>
                      <tr>
                        <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">501+</td>
                        <td class="comp-gen-pad-ot">
                          <img src="../assets/img-competiton/comp-teal.svg" class="comp-gen-svg-sty" alt="">
                          <div class="comp-fth-ctr-teal-col">
                            Teal</div>
                        </td>
                        <td class="comp-fth-ctr-fnt-wgth comp-gen-pad-ot">$0</td>
                        <td class="comp-gen-pad-ot">
                          <div class="comp-fth-ctr-flx-itms comp-width">
                            <span
                              style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                                  alt="" aria-hidden="true"
                                  src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2738%27%20height=%2738%27/%3e"
                                  style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                                src="../assets/img-competiton/fan-token-participant-gold.svg" decoding="async"
                                data-nimg="intrinsic" srcset="../assets/img-competiton/fan-token-participant-gold.svg
                                                                    1x,
                                                                    ../assets/img-competiton/fan-token-participant-gold.svg
                                                                    2x"
                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
                            <div class="comp-fth-ctr-ach-sty">+500</div>
                          </div>
                        </td>
                        <td class="comp-gen-pad-ot">
                          <img src="../assets/img-competiton/null.svg" class="comp-null-svg" alt="">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="comp-sec-pad">
                <div class="comp-trd-r-cnt-top-subtitle">Prizes to be
                  distributed in CAKE, LAZIO, PORTO and SANTOS in a distribution of 3:1:1:1 and
                  shared by all members of each respective tier. The price of token prizes (CAKE,
                  LAZIO, PORTO and SANTOS) in USD will be determined as per their BUSD pair price
                  during the tally period.</div>
              </div>
            </div>
          </div>
          <div class="comp-gen-flx-prc comp-fth-ctr-r-d-flx comp-fth-ctr-r-mrg-b">
            <div class="comp-fth-ctr-r-tx">Every eligible participant will win prizes at
              the end of the competition.</div>
            <h2 class="comp-font-sz comp-trd-r-cnt-top-h2 comp-gen-mrg-bot-dq">The better
              your team performs, the better prizes you will get!</h2>
            <div class="comp-fth-ctr-r-tx">
              The final winning team will be the team with the
              highest total volume score at the end of the competition period.</div>
            <div class="comp-rsp-d-block comp-fth-wth-nrg">
              <span
                style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                  style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                    alt="" aria-hidden="true"
                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27499%27%20height=%27400%27/%3e"
                    style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                  alt="Flipper bunny" src="../assets/img-competiton/flippers.png" decoding="async" data-nimg="intrinsic"
                  srcset="../assets/img-competiton/flippers.png 1x,
                                        ../assets/img-competiton/flippers.png
                                        2x"
                  style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"><noscript></noscript></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
