<!-- <main class="home">
  <div class="home-container-principale">
    <div class="color">
    <div class="home-section home-section2">
      <div class="home-subcontainer-section home-subcontainer-section2">
        <div class="home-container-text-section home-container-text-section2">
          <h1 class="home-title home-title-section2">Voting</h1>
          <h4 class="home-subtitle home-subtitle-section2">
            Have your say in the future of the PancakeSwap Ecosystem
          </h4>

          <div class="home-container-buttons-section button-container1">
            <a href="#" class="home-page-ifo">
              <button class="buttonLarge buttonHover buttonActive"><img src="../../../../assets/img voting/icon-button-voting.svg" class="icon1">
                Make a Proposal
              </button>
            </a>
          </div>
        </div>
        <div class="components-swap-container">
          <div class="components-swap-position">
            <div class="components-swap-style">
              <div class="components-swap-header">
                <div class="components-swap-header-layout">
                  <button class="components-swap-btn-graph" scale="sm">
                  </button>
                  <div class="components-swap-header-text-lay">
                    <h2 class="components-swap-header-title">Add Liquidity</h2>
                    <div class="components-swap-header-text-lay">
                      <div class="components-swap-header-text">
                        Add liquidity to receive LP tokens
                      </div>
                    </div>
                  </div>
                  <div class="components-swap-header-btns-lay">
                    <span class="components-swap-header-btn-l-lay">

                      <span class="components-swap-header-failure"></span>
                    </span>
                    <a href="https://docs.pancakeswap.finance/get-started/connection-guide"target=_blank> <button class="components-swap-header-btn-r-style" scale="sm">
                      <svg viewBox="0 0 24 24" color="textSubtle" xmlns="http://www.w3.org/2000/svg" class="components-swap-header-svg-recent">
                        <path d="M13 3C8.03 3 4 7.03 4 12H2.20711C1.76165 12 1.53857 12.5386 1.85355 12.8536L4.54604 15.546C4.73751 15.7375 5.04662 15.7418 5.24329 15.5556L8.08805 12.8631C8.4164 12.5524 8.19646 12 7.74435 12H6C6 8.13 9.13 5 13 5C16.87 5 20 8.13 20 12C20 15.87 16.87 19 13 19C11.4314 19 9.98175 18.4782 8.81739 17.601C8.37411 17.267 7.74104 17.259 7.3486 17.6514C6.95725 18.0428 6.95413 18.6823 7.38598 19.0284C8.92448 20.2615 10.8708 21 13 21C17.97 21 22 16.97 22 12C22 7.03 17.97 3 13 3ZM12 8V13L16.28 15.54L17 14.33L13.5 12.25V8H12Z"></path>
                      </svg>
                    </button>
                  </a>
                  </div>
                </div>
              </div>
              <div class="components-swap-main-pos">
                <div class="components-swap-main-lay">
                  <div class="sc-jSFjdj kJmatq">
                    <div class="components-swap-btns-lay">
                      <button class="components-swap-btns-sty" scale="sm">
                        <div class="components-swap-bnb-cake-text-lay">
                          <div class="components-swap-bnb-cake-style">
                            Select a currency
                          </div>
                        </div>
                      </button>
                    </div>
                    <div class="components-swap-inp-lay">
                      <div class="components-swap-inp-sty">
                        <div class="components-swap-inp-lay2">
                          <div class="components-swap-inp-lay3">
                            <input class="components-swap-input-sty2" inputmode="decimal" title="Token Amount" autocomplete="off" autocorrect="off" type="text" pattern="^[0-9]*[.,]?[0-9]*$" placeholder="0.0" minlength="1" maxlength="79" spellcheck="false" value="">
                          </div>
                        </div>
                        <div class="components-swap-inp-lay4"></div>
                      </div>
                    </div>
                  </div>
                  <div class="components-swap-btn-arrow-lay">
                    <div class="components-swap-btn-arrow-space">
                      <button class="components-swap-btn-arrow-sty" scale="sm"> + </button>
                    </div>
                  </div>
                  <div class="sc-jSFjdj kJmatq">
                    <div class="components-swap-btns-lay">
                      <button class="components-swap-btns-sty" scale="sm">
                        <div class="components-swap-bnb-cake-text-lay">
                          <div class="components-swap-bnb-cake-style">
                            Select a currency
                          </div>
                        </div>
                      </button>
                    </div>
                    <div class="components-swap-inp-lay">
                      <div class="components-swap-inp-sty">
                        <div class="components-swap-inp-lay2">
                          <div class="components-swap-inp-lay3">
                            <input class="components-swap-input-sty2" inputmode="decimal" title="Token Amount" autocomplete="off" autocorrect="off" type="text" pattern="^[0-9]*[.,]?[0-9]*$" placeholder="0.0" minlength="1" maxlength="79" spellcheck="false" value="">
                          </div>
                        </div>
                        <div class="components-swap-inp-lay4"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="components-swap-foot-lay"></div>
              </div>
              <div class="components-swap-foot-btn-sp">
                <a href="https://docs.pancakeswap.finance/get-started/connection-guide"target=_blank><button class="components-swap-foot-btn" scale="md">
                  Connect Wallet
                </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="home-section home-section4">
  <div class="home-subcontainer-section home-subcontainer-section4">
    <div class="home-container-text-section home-container-text-section4">
      <div class="home-container-buttons-section button-container1">
        <a href="#" class=" colleg buttonHover">Home  <span class="gray"> > </span></a><span> Voting</span>
      </div>
      <h1 class="home-title home-title-section4">Proposals</h1>
    </div>
    <div class="info-components-tokens-container">
      <div class="color1">
      <div class="tab-version-box info-tab-version-box">
        <button [ngClass]="{'tab-button-v1': !cardCore, 'tab-button-v2-active': cardCore }"(click)="clickCore()"><img *ngIf="!cardCore" src="../../../../assets/img voting/icon-voting.svg" class="icon1"><img *ngIf="cardCore" src="../../../../assets/img voting/icon-voting-bianca.svg" class="icon1">Core</button>
         <button [ngClass]="{'tab-button-v1': !cardCommunity, 'tab-button-v2-active': cardCommunity }"(click)="clickCommunity()"><img *ngIf="!cardCommunity"src="../../../../assets/img/users.svg" class="icon1"><img *ngIf="cardCommunity" src="../../../../assets/img/users-bianca.svg" class="icon1">Community</button>
        <button [ngClass]="{'tab-button-v1': !cardAdd, 'tab-button-v2-active': cardAdd }"(click)="clickAdd()">All</button>
      </div>
    </div>
      <div class="components-tokens-border"></div>
      <div class="components-tokens-a">
          <div class="info-input-selector__check__container">
            <div>
              <input type="radio" id="vote" name="proposals" value="vote" class="input-selector__radio" checked="">

              <label class="input-selector__label" for="vote">Vote Now</label>
            </div>
            <div>
              <input type="radio" id="soon" name="proposals" value="soon" class="input-selector__radio">

              <label class="input-selector__label" for="soon">Soon</label>
            </div>
            <div>
              <input type="radio" id="closed" name="proposals" value="closed" class="input-selector__radio">

              <label class="input-selector__label" for="closed">Closed</label>
            </div>
          </div>
      <div class="components-tokens-border"></div>
      </div>
      <a *ngIf="cardAdd  || cardCommunity" >
      <div class="componnents-tokens-foot-lay"*ngFor="let iter of iters">
        <div class="home-section home-section2 b">
          <div class="home-subcontainer-section home-subcontainer-section2 b1">
            <div class="home-container-text-section home-container-text-section2">
              <p class="home-subtitle home-subtitle-section2">
                {{iter.title}}
              </p>
              <h4 class="home-subtitle home-subtitle-section2 c">
               {{iter.data}}
              </h4>

              <div class="home-container-buttons-section button-container1">
                <a href="#" class="home-page-ifo">
                  <button class="buttonew"><img src={{iter.voteIcon}} class="icon1">
                    {{iter.buttonVote}}
                  </button>
                </a>
                <a href="#" class="home-page-ifo">
                  <button class="buttonew1"><img src={{iter.iconCommunity}} class="icon1">
                    {{iter.buttonCommunity}}
                  </button>
                </a>
              </div>
            </div>
            <div class="home-container-img home-container-images-section2 b2">
            </div>
          </div>
        </div>
      </div>
    </a>

    <a *ngIf="cardCore">
      <div class="componnents-tokens-foot-lay">
        <div class="home-section home-section2 b">
          <div class="home-subcontainer-section home-subcontainer-section2 b1">
            <div class="home-container-text-section home-container-text-section2">
              <p class="home-subtitle home-subtitle-section2">
                {{iters[0].title}}
              </p>
              <h4 class="home-subtitle home-subtitle-section2 c">
                {{iters[0].data}}
              </h4>

              <div class="home-container-buttons-section button-container1">
                <a href="#" class="home-page-ifo">
                  <button class="buttonew"><img src={{iters[0].voteIcon}} class="icon1">
                    {{iters[0].buttonVote}}
                  </button>
                </a>
                <a href="#" class="home-page-ifo">
                  <button class="buttonew1"><img src="../../../../assets/img voting/icon-voting-fuxia.svg" class="icon1">
                    More
                  </button>
                </a>
              </div>
            </div>
            <div class="home-container-img home-container-images-section2 b2">
            </div>
          </div>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>


<div class="color">
  <div class="home-section home-section2 ">
    <div class="home-subcontainer-section home-subcontainer-section2 ">
      <div class="home-container-text-section home-container-text-section2 ">
        <h2 class="home-subtitle home-subtitle-section2">
          Got a suggestion?
        </h2>
        <p class="home-subtitle home-subtitle-section2">
          Community proposals are a great way to see how the Community feels
          about your ideas.
        </p>
        <p class="home-subtitle home-subtitle-section2">
          They won't necessarily be implemented if the Community votes
          succesful,
          but suggestions with a lot of community support may be
          made into Core proposals.
        </p>

        <div class="home-container-buttons-section button-container1">
          <a href="#" class="home-page-ifo">
            <button class="buttonLarge buttonHover buttonActive"><img src="../../../../assets/img voting/icon-button-voting.svg" class="icon1">
              Make a Proposal
            </button>
          </a>
        </div>
      </div>
      <div class="home-container-img home-container-images-section2">
        <img src="../../../../assets/img voting/voting-bunny.png" alt="" />
      </div>
    </div>
  </div>
</div>
  </div>
</main> -->


