
<nav class="navbar navbar-expand-lg navbg">
  <a class="navbar-brand responsiveM" href="#"routerLink="/home"><img src="../../../assets/img/logoDesktop.svg" class="logo-container"/><img class="logoMobile" src="../../../assets/img/logoMobile.svg"/></a>
  <div class="collapse navbar-collapse containerG" id="navbarNavDropdown">
    <ul class="navbar-nav responsiveNone">
      <li class="nav-item dropdown containerN">
        <a class="nav-link  singleName" href="#"routerLink="/trade" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trade
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#"routerLink="/trade">Swap</a>
          <a class="dropdown-item" href="#"routerLink="/trade/limit">Limit</a>
          <a class="dropdown-item" href="#"routerLink="/trade/liquidity">Liquidity</a>
          <a class="dropdown-item" href="https://perp.pancakeswap.finance/en/futures/BTCUSDT" target="_blank">Perpetual
            <img src="../../../assets/img/collegameto-token-viola.svg">
          </a>
        </div>
      </li>
      <li class="nav-item dropdown containerN">
        <a class="nav-link  singleName" href="#"routerLink="/earn" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Earn
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#"routerLink="/farms">Farms</a>
          <a class="dropdown-item" href="#"routerLink="/pool">Pool</a>
        </div>
      </li>
      <!-- <li class="nav-item dropdown containerN ">
        <a class="nav-link  singleName" href="#"routerLink="/win" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Win
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#"routerLink="/prediction">Perdiction (BETA)</a>
          <a class="dropdown-item" href="#"routerLink="/lottery">Lottery</a>
        </div>
      </li> -->
      <li class="nav-item dropdown containerN ">
        <a class="nav-link singleName" href="#"routerLink="/ntf" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          NTF
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#"routerLink="/overview">Overview</a>
          <a class="dropdown-item" href="#"routerLink="/collections">Collections</a>
        </div>
      </li>
      <li class="nav-item dropdown containerN">
        <a class="nav-link  singleName" href="#" routerLink="/info" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="dot-color" src="../../../assets/img/dotdotdot.svg"/>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" routerLink="/info">Info</a>
          <a class='dropdown-item' href="#"routerLink="/voting">Voting</a>
          <hr />
          <a class='dropdown-item' href="https://medium.com/pancakeswap" target="_blank">Blog<img class="blog" src="../../../assets/img/blog.svg" /></a>
          <a class='dropdown-item' href="https://docs.pancakeswap.finance" target="_blank">Docs<img class="blog" src="../../../assets/img/docs.svg" /></a>
        </div>
      </li>
     </ul>
     <ul class="navbar-nav responsiveYes">
     <li class="nav-item dropdown containerN">
      <a class="nav-link  buttRight" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../../../assets/img/icona-nav-azzurra-bunny.svg" />$ <span>{{value}}</span></a>
    </li>
    <li class="nav-item dropdown containerN">
      <a class="nav-link  buttRight" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../../../assets/img/language.svg" />
      </a>
      <div class="dropdown-menu dropdown-menuR" aria-labelledby="navbarDropdownMenuLink">
        <button class="dropdown-itemR" href="#"type="button">
          العربية
        </button>
        <button class="dropdown-itemR" href="#" type="button">
          বাংলা
        </button>
        <button class="dropdown-itemR" href="#" type="button">
          English
        </button>
        <button class="dropdown-itemR" href="#" type="button">
          Deutsch
        </button>
        <button class="dropdown-itemR" href="#" type="button">
          Ελληνικά
        </button>
        <button class="dropdown-itemR" href="#" type="button">
          Español
        </button>
        <button class="dropdown-itemR" href="#" type="button">
          Suomalainen
        </button>
        <button class="dropdown-itemR" href="#" type="button">
          Filipino
        </button>
        <button class="dropdown-itemR" href="#" type="button">हिंदी</button>
        <button class="dropdown-itemR" href="#" type="button">Magyar</button>
        <button class="dropdown-itemR" href="#" type="button">
          Bahasa Indonesia
        </button>
        <button class="dropdown-itemR" href="#" type="button">
          Italiano
        </button>
        <button class="dropdown-itemR" href="#" type="button">日本語</button>
        <button class="dropdown-itemR" href="#" type="button">한국어</button>
        <button class="dropdown-itemR" href="#" type="button">
          Nederlands
        </button>
        <button class="dropdown-itemR" href="#" type="button">Polski</button>
        <button class="dropdown-itemR" href="#" type="button">
          Português (Brazil)
        </button>
        <button class="dropdown-itemR" href="#" type="button">
          Português
        </button>
        <button class="dropdown-itemR" href="#" type="button">Română</button>
        <button class="dropdown-itemR" href="#" type="button">
          Русский
        </button>
        <button class="dropdown-itemR" href="#" type="button">தமிழ்</button>
        <button class="dropdown-itemR" href="#" type="button">Türkçe</button>
        <button class="dropdown-itemR" href="#" type="button">
          Українська
        </button>
        <button class="dropdown-itemR" href="#" type="button">
          Tiếng Việt
        </button>
        <button class="dropdown-itemR" href="#" type="button">
          简体中文
        </button>
        <button class="dropdown-itemR" href="#" type="button">
          繁體中文
        </button>
      </div>
    </li>
    <li class="nav-item dropdown containerN">
      <a class="nav-link  buttRight" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../../../assets/img/gear.svg" />
      </a>
    </li>
    <li class="nav-item dropdown containerN">
      <a class="nav-link  buttRight" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <button class="button-wallet" type="button">Connect Wallet</button>
    </a>
    </li>
  </ul>
     </div>
     </nav>

