<div class="nft-header-mrg nft-header-bg-sty">
  <div class="nft-hdr-pad nft-pad-l-r">
    <div class="nft-flx-drc d-flex">
      <div>
        <h1 class="nft-title-sty nft-font-sz nft-text-col">NFT Market</h1>
        <h2 class="nft-hdr-sub-sz nft-sub-text-col">Buy and Sell NFTs on BNB Smart Chain
        </h2>
      </div>
      <div class="nft-src-inp-pos">
          <input placeholder="Search address" scale="md" class="nft-inp-search"
          value="" style="position: relative; z-index: 16; padding-right: 40px;">
        <div class="nft-txt-bottom-search">
          <div class="nft-txt-bottom-src-col">No results found.</div>
        </div>
      </div>
    </div>
  </div>
</div>
